/* Modal Popup */
.modal[tabindex]{
	display:none;
	position: fixed;
	z-index: 999;
}
body .modal .modal-dialog{
	width: 100%;
}
.modal-dialog{
    align-items: center;
    justify-content: center;
    z-index: 11;
	display: flex;
}
.modal-dialog[style*="block"]{
	display: flex !important;
}
.modal-dialog .modal-content{
    background: white;
    padding: 0 2rem 2rem 2rem;
    border-radius: 1rem;
    max-width: 60rem;
    max-height: 90vh;
    overflow: auto;
	min-width: 25rem;
}
.modal-dialog .modal-header{
    display: flex;
    align-items: flex-start;
	justify-content: space-between;
    border-bottom: 1px solid @lightborder;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: white;
	padding-top: 2rem;
	z-index: 2;
}
.modal-dialog .modal-header .modal-title{
    margin: 0;
	width: calc(100% - 3rem);
}
.modal-dialog .modal-content .modal-body .answer{
    text-align: center;
    max-width: 11rem;
    margin-top: 1rem;
}
.modal-dialog .modal-body > *:only-child{
    margin: 0;
}
#main-wrapper .modal-dialog.modal-lg,
#content-wrapper .modal-dialog.modal-lg{
    width: 100%;
}
@media screen and (max-width: 767px){
    .modal-dialog .modal-content{
        max-width: 90vw;
		width: 100%;
		min-width: 0;
    }
}