/*.pr .img-ct.loaded{
    background: #C3E0D8 !important
}
.pr .img-ct.loaded img{
    mix-blend-mode: multiply;
}*/

/* Category – Product Box */
/* Aspect Ratio 1:1 */
#p-l.gallery .img-ct:before,
.panel-slider .img-ct:before,
.product-gallery .img-ct:before,
.pr .img-ct:before{
    content: '';
   padding-top: 100%;
    display: block;    
}

/* Article Images */
/* Aspect Ratio 1:1 */
#p-l.gallery .img-ct:before,
.panel-slider .img-ct:before,
#gallery .img-ct:before{
    padding-top: 100%;
}

/* News Preview */
/* Aspect Ratio 4:3 */
#newslist .img-ct:before,
#news-c .img-ct:before{
    padding-top: 75%;
    display: block;   
}

/* Language Flags & Start Boxes */
/* Aspect Ratio 3:2 */
.language-dropdown .img-ct:before,
#start-boxes .start-box .img-ct:before{
    padding-top: 66.66%;
}