[data-page="11"] #shop-nav{
	margin-top: 0;
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -15px; 
	padding-right: 15px;
	margin-bottom: 3rem;
}

/* Border hinzufügen */
#usps-header.theme-dark{
	border: 1px solid;
}

/* Icons Opacity 1 */
#top-bar-wrapper .img-ct.icon,
#shop-nav .img-ct.icon{
	opacity: 1;
}

/* Dark Background */
#shop-nav,
#km-fullscreen-wrapper #top-bar-wrapper,
#top-bar-wrapper,
[data-page="11"] #shop-nav,
.mgm .mgm-c,
#cat-w .mgm.fullscreen-menu > ul.blanklist,
[id*="mm-dropdown"] .dropdown-menu,
[data-headtype="6"] #shop-nav,
[data-headtype="2"] #cat-w{
	background: @blackbg;
}

/* Dark Border */
#usps-header.theme-dark,
#top-bar-wrapper,
[data-headtype="1"] #shop-nav,
[data-headtype="2"] #cat-w{
	border-color: #444;
}

/* White Background */
.burger-line{
	background: white;
}

/* White Color */
#top-bar-wrapper a:not(.btn):not(:hover):not(.active),
#km-fullscreen-wrapper #top-bar-wrapper,
#top-bar-wrapper,
[data-page="11"] #shop-nav,
#cat-w .fullscreen-menu li:not(:hover):not(.active) > .mm-mainlink,
.fullscreen-title .close-btn,
.fullscreen-title .notextov,
.mgm .mgm-c,
.mgm .mgm-c a:not(:hover),
[id*="mm-dropdown"] li >.dropdown-link,
[data-headtype="1"] #cat-w li:not(.active) > .mm-mainlink,
[data-headtype="2"] #cat-w li:not(.active) > .mm-mainlink,
[data-headtype="5.5"] #cat-w li:not(.active) > .mm-mainlink{
	color: #f2f2f2;
}

/* White Fill */
.mgm .home-icon svg{
	fill: white;
}

/* No background */
[data-headtype="4.5"][data-page="18"] #shop-nav,
[data-headtype="4"][data-page="18"] #shop-nav,
[data-headtype="5"][data-page="18"] #shop-nav,
[data-headtype="5.5"][data-page="18"] #shop-nav{
	background: none;
}

/* Others */
#cat-w li:hover > .mm-mainlink,
[id*="mm-dropdown"] .active>.dropdown-link, 
[id*="mm-dropdown"] li:hover>.dropdown-link{
	background: rgba(255,255,255,.1);
}

@media screen and (min-width: 768px){
	#cat-w li:hover > .mm-mainlink{
		color: @brand;
	}
}

/* Mobile Shop-Nav */
@media screen and (max-width: 767px){
	#cat-w,
	#shop-nav,
	#cat-w .mgm .open > a .fa-caret-down, 
	#cat-w .mgm .open > span .fa-caret-down{
		background: @blackbg;
		border-color: @blackbg;
	}
	#cat-w .mgm .open > a .fa-caret-down, 
	#cat-w .mgm .open > span .fa-caret-down,
	.menu-title .close-btn,
	.menu-title .notextov,
	#cat-w .mm-mainlink, 
	#cat-w a{
		color: #f2f2f2;
	}
	#cat-w .ar{
		border-color: #f2f2f2;
	}
	#cat-w li, 
	#cat-w .row > div{
		border-color: #444;
	}
	#cat-w li:hover>.mm-mainlink, 
	[id*="mm-dropdown"] .active>.dropdown-link, 
	[id*="mm-dropdown"] li:hover>.dropdown-link{
		color: @brand;
	}
	#cat-w a:hover,
	#cat-w span:hover,
	#cat-w .active > a,
	#cat-w .active > span{
		color: @brand;
		background: rgba(255,255,255,.1);
	}
	#cat-w .subsub{
		background: @blackbg;
	}
}