@media screen and (max-width: 991px){
    #account-list{
        padding: 0;
        border: 0;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid @lightborder;
        border-radius: 0;
    }
}