#bxt-w .mw-container{
	max-width: none;
}
@media screen and (min-width: 1201px){
	body{
		background: @bgBoxed;
	}
	#bxt-w .mw-container{
		padding-left: 50px;
		padding-right: 50px;
	}
	#bxt-w{
		max-width: 1200px;
		margin: 2rem auto;
		border: 2px solid @defaultborder;
		position: relative;
		background: white;
	}
	body.boxed-nomargin #bxt-w{
		margin: 0 auto;	
	}
	body.boxed-noborder #bxt-w{
		border: 0;	
	}
	[data-page="11"] #checkout-cart{
		position: absolute;
		font-size: .8rem;
	}
	#checkout-cart .price {
		font-size: 0.8rem;
	}
	[data-page="11"] #checkout-cart .img-col{
		display: none;
	}
	[data-page="11"] #checkout-cart .img-col + .col-xs-9{
		width: 100%;
	}
	#account > .col-lg-2{
		width: 25%;
	}
	#account > .col-md-9{
		left: 0;
	}
	[data-page="11"] #shop-nav{
		margin-top: 0;
	}
	#footer{
		padding-bottom: .1rem;
	}
}
@media screen and (max-width: 1200px){
	body{
		background: white !important;
	}
}
@media screen and (min-width: 768px){
	#footer-boxes .col-xs-12{
		width: 25%;
	}
}