#bc-w{
    overflow: hidden;
    padding-top: .8rem;
    padding-bottom: .8rem;
    background: @lightbg;
	margin-bottom: 3rem;
}
#bc{
    font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}
#bc .separator{
    margin: 0 .75rem;
    opacity: .6;
    position: relative;
    top: -.05rem;
}