img.zoomImg {transition: none;}
#gallery a{
    display: block;
}
#gallery a:not(.active){
    display: none;
}
#gallery img{
    width: 100%;
    object-fit: contain;
}
.lightbox-shown #gallery .img-ct{
    margin: auto;
}
#gallery-thumbs .img-w{
    border: 1px solid @lightborder;
    margin-bottom: .5rem;
    transition: .3s ease;
    cursor: pointer;
    border-radius: .3rem;
    overflow: hidden;
	width: 100%;
}
#gallery-thumbs.two-cols{
	column-count: 2;
	column-gap: .5rem;
}
#gallery-thumbs.two-cols .img-w{
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
}
#gallery-thumbs .img-w.active,
#gallery-thumbs .img-w:hover{
    border-color: @brand;
}
#gallery a{
    cursor: zoom-in;
}
#gallery .sl-nx{
    right: 15px;
}
#gallery .sl-ar{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
	background: @lightbg;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#gallery .sl-ar:hover{
    background: @lightfocusbg;
}
#gallery .sl-nx{
    right: 15px;
}
/* Lightbox */
body:not(.lightbox-shown) #close-lightbox {
    display:none;
}
.lightbox-shown .product-gallery{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    background: white;
    width: 100%;
    padding: 0;
    display: flex;
}
.lightbox-shown #gallery-thumbs{
	padding: 1.5rem;
    width: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 5;
    border-right: 1px solid @lightborder;
}
.lightbox-shown .product-gallery > .row{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
.lightbox-shown .product-gallery > .row #gallery{
    width: calc(100% - 20rem);
    margin: auto;
	padding: 0;
	height: 100%;
}
.lightbox-shown #gallery .inner,
.lightbox-shown #gallery a,
.lightbox-shown #gallery  .img-ct{
	height: 100%;
}
.lightbox-shown .product-gallery > .row #gallery .img-ct{
	background-repeat: no-repeat;
	background-color: white;
}
.lightbox-shown .product-gallery > .row #gallery .img-ct:not(:hover){
    background: none !important;
}
#close-lightbox{
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 20;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.lightbox-shown #gallery .zoom img{
    object-fit: contain;
}
.lightbox-shown #content-wrapper{
    position: relative;
}
.lightbox-shown #main-wrapper > *:not(#content-wrapper){
    display: none;
}
@media screen and (max-width: 1199px){
	#gallery-thumbs.two-cols{
		column-gap: .25rem;
	}
	#gallery-thumbs.two-cols .img-w{
		margin-bottom: .25rem;
	}
	.lightbox-shown #gallery-thumbs{
		padding: 1rem;
		width: 8rem;
	}
	.lightbox-shown .product-gallery>.row #gallery {
		width: calc(100% - 16rem);
	}
	#close-lightbox{
		top: 1.5rem;
		right: 1.5rem;
	}
}
@media screen and (min-width: 992px){
	#gallery-thumbs{
		padding-right: 0;
	}
}
@media screen and (max-width: 991px){
    body:not(.lightbox-shown) #gallery-thumbs{
        order: 1;
		display: flex;
		flex-wrap: wrap;
		margin-left: -.15rem;
		margin-right: -.15rem;
		width: calc(100% + .3rem);
		margin-top: .5rem;
    }
	body:not(.lightbox-shown) #gallery-thumbs.two-cols{
		column-count: 1;
	}
	body:not(.lightbox-shown) #gallery-thumbs.two-cols .img-w,
	body:not(.lightbox-shown) #gallery-thumbs .img-w{
		width: calc(16.66% - .3rem);
		margin: .15rem;
	}	
}
@media screen and (max-width: 767px){
	#gallery .inner{
		margin-left: -20px;
		margin-right: -20px;
		overflow: hidden;
	}
	#gallery .sl-ar{
		opacity: .7;
	}
	#gallery .sl-pr{
		left: -12px;
	}
	#gallery .sl-nx{
		right: -12px;
	}
	#gallery .img-ct{
		border-radius: 0;
	}
	#gallery-thumbs{
		display: none;
	}
	.lightbox-shown .product-gallery>.row #gallery {
		width: 100%;
	}	
}
@media all and (orientation:portrait) {
	.lightbox-shown #gallery-thumbs{
		top: auto;
		right: 0;
		width: 100%;
		column-count: 1;
		display: flex;
		border-top: 1px solid @lightborder;
		border-right: 0;
		padding: 1rem;
		overflow: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.lightbox-shown #gallery-thumbs::-webkit-scrollbar { 
		display: none; 
	}
	.lightbox-shown #gallery-thumbs .img-w{
		width: 3rem;
		min-width: 3rem;
		margin-bottom: 0;
		margin-right: .25rem;
	}
	.lightbox-shown .product-gallery>.row #gallery{
		width: 100%;
		height: calc(100% - 80px);
	 	margin: 0 auto;
	}
}