

/* Buybox */
#buy_form{
    margin-bottom: 6rem;
}
#product-offer > .product-info{
    padding-left: 4rem;
}

.info-essential{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info-essential,
.info-essential .rating-wrapper,
.delivery-status{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 
.info-essential p,
.delivery-status p{
    margin: 0;
}
.delivery-status{
    margin-top: .75rem;
}
.delivery-status > .status{
    margin-right: .75rem;
}
.status-0{
    color: @danger;
}
.status-1{
    color: @warning;
}
.status-2{
    color: @success;
}
.info-essential strong{
    display: inline-block;
    width: 50%;
}
.info-essential .manufacturer-row img ~ span{
    margin-left: .5rem;
    font-weight: 600;
}

/*.label-not-available:before{
    content: '('
}
.label-not-available:after{
    content: ')'
}*/
.form-group.required label.variation:after{
	display: none;
}
.product-offer .price_wrapper .price{
    font-size: 2.2rem;
    line-height: 1;
    display: block;
    margin-bottom: .25rem;
}
.product-offer .price_wrapper .price .old-price{
	font-weight: 400;
}
.product-offer .price_wrapper .price .old-price + span{
	color: @brand;
}
.price-note p{
    margin: 0;
}
#add-to-cart .alert:only-child{
    margin: 0;
}
.boxed-layout .buy-wrapper > div{
	width: 100%;
}
.boxed-layout .buy-wrapper > div:first-child{
	margin-bottom: 1rem;
}
#add-to-cart .input-group{
    justify-content: flex-end;
}
#quantity-grp{
    display: flex;
    width: 100%;
}
#quantity-grp > input{
    max-width: 100px;
    margin-right: 1rem;
	min-width: 60px;
    padding-left: 5px;
    padding-right: 5px;
	width: auto;
}
#quantity-grp button{
	white-space: normal;
}
#quantity-grp .input-group-btn{
    width: 100%;
}
#product-actions{
	overflow: auto;
}
#product-actions .btn.pr{
    display: flex;
    align-items: center;
	white-space: nowrap;
}
#product-actions .btn.pr .img-ct{
    width: 1rem;
    margin-right: .5rem;
}
#buy_form .submit-answer{
    margin-top: 1rem;
}

#buy_form .input-group-addon.unit {
    padding: .75rem .2rem;
    margin-right: 1rem;
}

/* Tabs */
#article-tabs  > div > .panel:not(:last-child){
    margin-bottom: 4rem;
}
#article-tabs > div > .panel > .panel-heading{
    margin-bottom: 1rem;
}
#article-tabs .attr-label{
    font-weight: 600;
}
#article-tabs > .col-xs-12:not(.col-md-5):not(.col-md-6){
    max-width: 1000px;
    margin: auto;
}
#tab-description .tab-content-wrapper > hr{
    display: none;
}
#tab-description .desc a{
    text-decoration: underline;
    color: @brand;
}
#tab-description img{
    max-width: 100%;
    height: auto;
}
#article_question hr,
#result-wrapper > hr{
    display: none;
}
#tab-questionOnItem legend{
    display: none;
}
#tab-questionOnItem fieldset+fieldset{
    margin-top: 0;
}
#tab-votes .progress,
#tab-votes .progress > div{
    border-radius: 1rem;
    font-size: 0;
    height: .5rem;
    background: @lightfocusbg;
}
#tab-votes .progress > div{
    background: @darkbg;
}
#tab-votes .active .progress > div{
    background: @brand;
    @gradientbrand;
}
#tab-votes .review hr{
    margin: 2rem 0;
}
#tab-votes blockquote{
    margin: 0;
}
#article_votes > .row{
    display: flex;
    align-items: center;
}
#reviews-overview + *{
    margin-top: 2rem;
}
#reviews-overview .panel-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#reviews-overview .rating{
    margin-left: 1rem;
    position: relative;
    margin-top: -.1rem;
}
.add-review:not(.m0){
    margin-top: 1rem;
}
.add-review p{
    display: inline-block;
    margin: 0 1rem 0 0;
}
.review-wrapper.reviews-mosthelpful{
    padding: 2rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    background: @lightbg;
}
.review-reply{
    margin-top: 1.5rem;
    margin-left: 4rem;
}
.review-reply strong{
    color: @brand;
}
.review p{
    margin: .5rem 0;
}
#tab-votes .pagination-wrapper{
    margin-bottom: 1rem;
}
span[itemprop="reviewRating"]{
    display: flex;
    align-items: center;
}
span[itemprop="reviewRating"] .pull-right{
    margin-left: auto;
    order: 1;
}
span[itemprop="reviewRating"] .review-helpful{
    margin-left: .5rem;
    position: relative;
    top: .05rem;
}
span[itemprop="reviewRating"] .review-helpful button img{
    opacity: .6;
    transition: .3s ease;
}
span[itemprop="reviewRating"] .review-helpful button:hover img{
    background: none;
    opacity: .8;
}
span[itemprop="reviewRating"] .review-helpful .img-ct{
    width: 1rem;
}
#tab-votes .pagination-wrapper .form-group:not(:first-child){
    margin-left: .5rem;
}
#tab-tags .row{
    margin-top: 1.5rem;
}
#tab-tags .btn.btn-xs{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}
#tab-description{
    position: relative;
    z-index: 1;
}
#article-tabs.notabs .panel{
    padding: 0;
    background: none;
    box-shadow: none;
}
/* Ähnliche Artikel */
.item-related .row{
    flex-direction: row;
    align-items: center;
}
.item-related .row .img-w{
    margin: 0;
    max-width: 5rem;
}
.item-related .p-c .price{
    font-size: 1.1rem;
}
.item-related .row h4.title{
    margin-bottom: .5rem;
}
.recommendations > section{
    margin-top: 4rem;
}
#result-wrapper > .alert{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
#result-wrapper > .alert.hidden{
    display: none
}
#result-wrapper > .alert > button{
    font-size: 1rem;
}


/* Tabs */
#article-tab-nav{
	padding: 0;
	display: flex;
	align-items: flex-end;
	list-style: none;
	margin: 0;
	padding: 1rem 0 1rem 0;
	margin-bottom: 2rem;
	overflow: auto;
	position: relative;
	z-index: 9;
}
#article-tab-nav span{
	font-size: 1.3rem;
	font-weight: 700;
	padding: .65rem 1.25rem;
	display: block;
	position: relative;
	opacity: .7;
	transition: opacity .3s ease;
	cursor: pointer;
}
#article-tab-nav li:hover span,
#article-tab-nav li.active span{
	opacity: 1;
}
#article-tab-nav li.active span{
	color: white;
}
#article-tab-nav span:after{
	content: '';
	position: absolute;
	top: calc(100% - .18rem);
	left: 0;
	right: 0;
	bottom: 0;
	background: @defaultborder;	
	z-index: -1;
	transition: .3s ease;
}
#article-tab-nav li.active span:after,
#article-tab-nav li:hover span:after{
	top: 0;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}
#article-tab-nav li.active span:after{
	background: @brand;	
	color: white;
}
#article-tab-nav li{
	margin: 0 .75rem;
	white-space: nowrap;
}
#article-tab-nav li:first-child{
	margin-left: 0;
}
#article-tab-nav li:last-child{
	margin-right: 0;
}
#article-tabs > div[role="tabpanel"]{
	display: block;
	height: auto;
	opacity: 1;
	transition: .3s ease;
}
#article-tabs > div[role="tabpanel"]:not(.active){
	opacity: 0;
	height: 0;
	overflow: hidden;
}
#slider-related:not(.related-list) .panel-heading{
	display: none;
}
#article-tab-nav ~ #article-tabs .panel .panel-body{
	display: block;
}

/* payPal */
.ppf-container{
	margin: 1rem 0;
	border-radius: .3rem;
	border-color: @defaultborder
}
.ppf-container p:first-child{
	margin-top: 0;
}


/* PayPal Finanzierung*/
.ppf-container{
	position: relative;
	background: @info;
	border: 0;
	color: #fff;
}
.ppf-container p{
	margin: 0;
}
.ppf-container p:after{
	content: '\203A';
	display: inline-block;
	font-weight: bold;
	margin-left: .25rem;
}
.ppf-container a.show-details{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	font-size: 0;
	text-indent: -999em;
}
/* Matrix */
.matrix-list > .row{
	align-items: center;
	border-bottom: 1px solid @lightborder;
	padding: .5rem 0;
}
.matrix-list .delivery-status{
	margin: 0;
}
.matrix-list .flex{
	align-items: center;
	display: flex;
	justify-content: flex-end;
}
.matrix-list .flex > *{
	margin-left: .5rem;
}
.matrix-list .flex > input {
	width: 100%;
	max-width: 200px;
}
.product-matrix button.btn-lg{
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1rem;
}
.product-matrix .price,
.product-matrix .price *{
	white-space: nowrap;
}
.product-matrix .table-responsive input[type="text"]{
	border-radius: .3rem;
}
.product-matrix .input-group{
	align-items: center;
}
.product-matrix .input-group-addon{
	white-space: nowrap;
	margin-left: .5rem;
}
.product-matrix input[type="text"]{
	padding: .2rem .3rem;
	min-width: 3rem;
}
.product-matrix img{
	margin-right: .5rem;
}
.product-matrix .delivery-status{
	margin: 0;
}
.product-matrix .table-responsive{
	width: 100%;
}
.input-line {
	display: flex;
	align-items: center;
}
/* Bundle-Preis */
.bundle-price{
	margin: 0 1.5rem 0 0 ;
}
.bundle-price .label-warning{
	margin-top: .25rem;
	font-size: smaller;
}
/* Amazon pay Button */
#add-to-cart .lpa-pay-button.lpa-pay-button-express{
	margin: .5rem 0 0 0;
	display: block;
}
/* PayPal Express Button */
#add-to-cart .paypalexpress.btn-ppe-article{
	margin-top: .5rem
}
/* Mediendateien */
#tab-musik audio{
	width: 100%;
}
/* Maxwidth Priceflow */
#priceFlowContainer{
	max-width: 50rem;
} 
/* Basket Animation on "basked-Added" */
.basked-added .dropdown.open .c-dp>.inside{
	animation: .4s ease .5s 1 both slide-in;
}
.alert.purchase-info p{
	margin: 0;
}
@keyframes slide-in{
	from{
		transform: translateX(110%);
	}
	to{
		transform: translateX(0);
	}
}
@media screen and (max-width: 1400px){
    #product-offer > .product-info{
        padding-left: 2rem;
    }
	#article-tab-nav span{
		font-size: 1.2rem;
		padding: .5rem 1rem;
	}
	#article-tab-nav li{
		margin: 0 .5rem;
	}
}
@media screen and (max-width: 1199px){
    #add-to-cart{
        margin-top: 1rem;
    }
    #buy_form{
        margin-bottom: 4rem;
    }
    #article-tabs>div>.panel,
    #article-tabs>div>.panel:not(:last-child){
        margin-bottom: 2rem;
    }
    #article-tabs>div>.panel>.panel-heading,
    #article-tabs>div>.panel .panel-title{
        margin: 0;
    }
    #result-wrapper>.alert{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 991px){
    #article-tabs .panel .panel-body{
        display: none;
    }
    #article-tabs .panel.open-show .panel-body{
        display: block;
    }
    #article-tabs>div>.panel, #article-tabs>div>.panel:not(:last-child){
        margin-bottom: 0;
    }
    #article-tabs>div>.panel .panel-title{
        padding: .75rem 0;
    }
    #article-tabs > div > .panel .panel-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid @lightborder;
    }
    #article-tabs > div > .panel > .panel-heading > .panel-title:after{
        content: '';
        width: 1rem;
        height: 1rem;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat center center/.5rem auto; 
        transition: .3s ease;
    }
    #article-tabs > div > .panel.open-show .panel-title:after{
        transform: rotate(180deg);
    }
    #article-tabs > div > .panel > .panel-body{
        padding: 1.5rem 0;
    }
	#article-tab-nav span {
		font-size: 1rem;
		padding: .5rem .8rem;
	}
}
@media screen and (max-width: 767px){
	#shop-nav{
		margin-bottom: 0;
	}
	h1, .h1{
		margin-top: 1.5rem;
	}
	#article-tab-nav{
		margin-bottom: 1rem;
	}
    #product-offer > div{
        width: 100%;
    }
    #product-offer > .product-info{
        padding-left: 15px;
    }
    #product-actions .btn.pr{
        width: 50%;
        justify-content: center;
    }
    #buy_form{
        margin-bottom: 1rem;
    }
    #tab-tags .row{
        margin-top: .5rem;
    }
    #tab-votes .pagination-wrapper{
        display: none;
    }
    #reviews-overview{
        margin-bottom: 1.6rem;
    }
    #reviews-overview .rating {
        min-width: 6rem;
        justify-content: flex-end;
    }
    #result-wrapper>.alert{
        margin: 0 0 1.5rem 0;
    }
	#article-tab-nav{
		flex-wrap: wrap;
	}
	#article-tab-nav li{
		margin: 0;
		width: 100%;
	}
	#article-tab-nav li span:after,
	#article-tab-nav li.active span:after, 
	#article-tab-nav li:hover span:after {
		border-radius: 0;
		top: auto;
		height: .125rem;
		opacity: .7;
	}
	#article-tab-nav li.active span, 
	#article-tab-nav li:hover span {
		color: @brand;
	}
}
@media screen and (max-width: 575px){
    #product-offer > .product-info{
        padding-left: 8px;
    }
}
