/*
#fileupload-wrapper .hide,
#fileupload-wrapper .btn-file,
#fileupload-wrapper .file-input.file-input-new .fileinput-upload{
    display: none;
}
#fileupload-wrapper input[type="file"]{
    width: .1rem;
    height: .1rem;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#fileupload-wrapper .wrapper{
    padding: 1rem 0;
    border-top: 1px solid @lightborder;
    position: relative;
}
#fileupload-wrapper .panel-body:last-child{
    border-bottom: 1px solid @lightborder;
}
#fileupload-wrapper .fileicon{
    width: 2rem;
}
#fileupload-wrapper .uploadicon{
    width: 1.25rem;
    margin-left: .5rem;
}
#fileupload-wrapper .panel-heading{
    margin-bottom: .5rem;
    font-weight: 600;
}
.file-input:not(.file-input-new) ~ label{
    display: none;
}
#fileupload-wrapper label{
    margin: 0 .5rem 0 0;
    font-weight: 400;
}
#fileupload-wrapper .input-group{
    display: flex;
    align-items: center;
    white-space:nowrap;
}
.file-input{
    max-width: 100%;
}
.file-caption-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8rem;
}
#fileupload-wrapper *:focus{
    outline: none;
}
#fileupload-wrapper .fileinput-cancel{
    display: none;
}
#fileupload-wrapper *[style*="margin"]{
    margin: 0 !important;
}
#fileupload-wrapper .progress{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
}
#fileupload-wrapper .progress-bar{
    height: 100%;
    background: @success;
}
#fileupload-wrapper .kmps-s{
    position: static;
}
*/
/*
#fileupload-wrapper .upload_title{
    font-weight: 600;
}
#fileupload-wrapper .input-group-btn{
    display: flex;
    align-items: center;
}
#fileupload-wrapper .input-group-btn > a,
#fileupload-wrapper .input-group-btn > button{
    order: 1;
    border-radius: .3rem;
}
#fileupload-wrapper .btn-primary{
    background: none;
    padding-left: 0;
    color: @defaulttext;
}
#fileupload-wrapper .input-group{
    flex-wrap: wrap;
}
#fileupload-wrapper .file-caption{
    width: 100%;
    text-align: left;
}
.file-error-message ul{
    margin: 0;
    list-style: none;
    text-align: left;
}
.kv-error-close{
    position: absolute;
    color: white;
    left: 2rem;
}
#fileupload-wrapper .btn-file{
	box-shadow: none;
}
@media screen and (max-width: 767px){
    #fileupload-wrapper .text-right{
        text-align: left;
    }
    #fileupload-wrapper .input-group-btn > a .hidden-xs{
        display: block;
    }
    #fileupload-wrapper .input-group,
    #fileupload-wrapper .input-group .input-group-btn,
    #fileupload-wrapper .input-group .input-group-btn a{
        display: block;
    }
    #fileupload-wrapper .input-group-btn > button:not(.hide){
        display: block;
        width: 100%;
    }
    #fileupload-wrapper .input-group-btn > button > .hidden-xs{
        display: block;
    }
}
*/

.file-preview-frame,.file-preview-image,.file-preview-other{height:160px;vertical-align:middle}.file-loading{top:0;right:0;width:25px;height:25px;font-size:999px;text-align:right;color:#fff;background:url(images/loader.gif)top left no-repeat;border:none}.file-object{margin:0 0 -5px;padding:0}.btn-file{position:relative;overflow:hidden}.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;text-align:right;opacity:0;background:0 0;cursor:inherit;display:block}.file-caption-name{display:inline-block;overflow:hidden;height:20px;word-break:break-all}.input-group-lg .file-caption-name{height:25px}.file-preview-detail-modal{text-align:left}.file-error-message{background-color:#f2dede;color:#a94442;text-align:center;border-radius:5px;padding:5px 10px 5px 5px}.file-error-message pre,.file-error-message ul{margin:5px 0;text-align:left}.file-caption-disabled{background-color:#EEE;cursor:not-allowed;opacity:1}.file-preview{border-radius:5px;border:1px solid #ddd;padding:5px;width:100%;margin-bottom:5px}.file-preview-frame{display:table;margin:8px;border:1px solid #ddd;box-shadow:1px 1px 5px 0 #a2958a;padding:6px;float:left;text-align:center}.file-preview-frame:not(.file-preview-error):hover{box-shadow:3px 3px 5px 0 #333}.file-preview-text{text-align:left;width:160px;margin-bottom:2px;color:#428bca;background:#fff;overflow-x:hidden}.file-preview-other{display:table-cell;text-align:center;width:160px;border:2px solid #999;border-radius:30px;opacity:.8}.file-actions,.file-other-error{text-align:left}.file-icon-lg{font-size:1.2em}.file-icon-2x{font-size:2.4em}.file-icon-4x{font-size:4.8em}.file-input-ajax-new .fileinput-remove-button,.file-input-ajax-new .fileinput-upload-button,.file-input-new .close,.file-input-new .file-preview,.file-input-new .fileinput-remove-button,.file-input-new .fileinput-upload-button,.file-input-new .glyphicon-file{display:none}.file-thumb-loading{background:url(images/loader.gif)center center no-repeat content-box!important}.file-actions{margin-top:15px}.file-footer-buttons{float:right}.file-upload-indicator{padding-top:2px;cursor:default;opacity:.8;width:60%}.file-upload-indicator:hover{font-weight:700;opacity:1}.file-footer-caption{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:160px;text-align:center;padding-top:4px;font-size:11px;color:#777;margin:5px auto 10px}.file-preview-error{opacity:.65;box-shadow:none}.file-preview-frame:not(.file-preview-error) .file-footer-caption:hover{color:#000}.file-drop-zone{border:1px dashed #aaa;border-radius:4px;height:100%;text-align:center;vertical-align:middle;margin:12px 15px 12px 12px;padding:5px}.file-drop-zone-title{color:#aaa;font-size:40px;padding:85px 10px}.file-highlighted{border:2px dashed #999!important;background-color:#f0f0f0}.file-uploading{background:url(../img/loading-sm.gif)center bottom 10px no-repeat;opacity:.65}.file-error-message .close{margin-top:5px}.file-thumb-progress .progress,.file-thumb-progress .progress-bar{height:10px;font-size:9px;line-height:10px}.file-thumbnail-footer{position:relative}.file-thumb-progress{position:absolute;top:22px;left:0;right:0}

#fileupload-wrapper .panel{
    border-radius: .5rem;
    border: 1px solid @lightborder;
}
#fileupload-wrapper .panel-heading{
    padding: .8rem 1.2rem;
    background: #eee;
    border-radius: .5rem .5rem 0 0;
}