#footer{
    margin-top: 3rem;
}
#footer a:not(.btn):hover{
	color: @brand;
}
#footer-boxes{
    margin-bottom: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    border-top: 1px solid @lightborder;
    border-bottom: 1px solid @lightborder;
    font-size: .95rem;
}
#footer-boxes .panel{
    padding: 0;
    background: none;
    box-shadow: none;
}
#footer-boxes div:empty{
	display: none;
}
#logo-footer img{
    max-width: 10rem;
}
.btn-social{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: .4rem;
}
.btn-social:hover{
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.25);
}
.btn-social>svg{
    max-width: 55%;
    max-height: 55%;
}
#copyright{
    color: @lighttext;
}
#footer-social,
#copyright,
#ft-cu-lg{
    margin-bottom: 3rem;
}
.box-lng-cur .btn{
	width: 8rem;
	max-width: 100%;
	margin-bottom: .5rem;
	display: flex;
}
#footer-boxes .panel-title{
	margin-bottom: 1rem !important;
}
#footer-boxes .mb-spacer{
	margin: 0 !important;
}
@media screen and (max-width: 1199px){
    #footer{
        margin-top: 1.5rem;
        padding-bottom: 1.7rem;
    }
    #footer-social,
	#ft-cu-lg{
        margin-bottom: 1.7rem;
    }
    #copyright{
        margin-bottom: 0;
    }
    #footer-boxes {
        margin-bottom: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2.25rem;
    }
}
@media screen and (max-width: 767px){
    #logo-footer{
        display: none;
    }
    #footer-boxes .language-dropdown{
        margin-right: 2rem;
    }    
    #footer-boxes.collapse .panel:not(.open-show) .box-body,
	#footer-boxes.collapse .panel:not(.open-show) .panel-body{
        height: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
		overflow: hidden;
    }
	#footer-boxes.collapse .panel .box-body,
	#footer-boxes.collapse .panel .panel-body{
		padding: 1rem 0;
	}
    #footer-boxes.collapse .panel-heading{
        padding: .7rem 0;
		border-bottom: 1px solid @lightborder;
    }
	#footer-boxes.collapse .icon-caret{
		display: block;
		pointer-events: none;
	}
	#footer-boxes.collapse .panel.open-show .icon-caret{
		transform: scaleY(-1);
	}
    #footer-boxes.collapse .col-xs-12{
        padding-top: 0;
        padding-bottom: 0;
    }
	#footer-boxes.collapse .box-global-characteristics + hr{
		display: none;
	}
	#footer-boxes.collapse .panel-title{
		margin-bottom: 0 !important;
	}
}