#content{
	order: 1;
}
/* Produktliste */
.p-w .img-w{
    position: relative;
}
#result-options{
    width: 100%;
}
/*#result-options .filter-collapsible-control{
    display: none;
}*/
.ftr-a{
    margin: 1rem -.25rem 2rem -.25rem;
}
.ftr-a a{
    margin: .25rem;
    text-align: left;
    padding: 0;
    background: none;
    margin: .3rem 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: @defaulttext;
}
#snackys-tpl .ftr-a a:hover{
    box-shadow: none;
    text-decoration: line-through;
}
.ftr-a .delete{
    font-family: "Courier New",Courier,'Arial';
    margin-right: .75rem;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .3rem;
    min-width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: @brand;
    color: white;
    font-weight: bold;
}
#result-wrapper > .desc{
    margin-bottom: 2rem;
}
#result-wrapper>.desc:empty{
    display: none;
}
#result-wrapper .list-pageinfo{
    display: none;
}
#filter-collapsible{
    display: block;
}
.tags-list{
    margin-top: 2rem;
}
.tags-list .btn-xs.badge{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}
.form-inline.displayoptions:before,
.form-inline.displayoptions:after{
    display: none;
}
.endless-scrolling{
    width: 100%;
    margin: 1rem 0;
}
#result-wrapper > .title .right{
    margin-left: 1rem;
}
#ftr-tg{
    margin-left: 1rem;
    cursor: pointer;
}
#ftr-tg .img-ct{
    width: 1.8rem
}

[data-page="2"] #content-wrapper > .row{
	align-items: flex-start;
}
#p-l .endless-scrolling:last-child{
    opacity: 1;
    height: 3.4rem;
    z-index: 11;
    position: relative;
}
#p-l .endless-scrolling:last-child button{
	position: absolute;
	bottom: 0;
    width: 2.1rem;
    height: 2.1rem;
    border: 5px solid @darkbg;
    border-radius: 50%;
    padding: 0;
    border-top-color: @brand;
	animation: 1.2s ease-in-out 0s infinite both spin;
    box-shadow: none;
    background: none;
}
.sidecart-open .dropdown.open .c-dp>.inside{
	animation: .4s ease .1s 1 both slide-in;
}
@keyframes slide-in{
	from{
		transform: translateX(110%);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes spin{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg)
	}
}

#suche2 .btn{
    margin-left: .5rem;
    border-radius: .5rem;
}
/* Amazon-Pay-Button */
.p-c .lpa-pay-button.lpa-pay-button-express{
	display: block;
	margin: .5rem 0 0 0;
}

#nfity-scroll{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: @blackbg;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 4;
}
#nfity-scroll .ar{
    border-color: white;
}
@media screen and (max-width: 767px){
	#nfity-scroll .nfy-scroller{
		top: calc(100% - 5.5rem);
	}
}
@media screen and (min-width: 992px){
    #ftr-tg{
        display: none;
    }
}
@media screen and (max-width: 991px){
    body[data-page="2"] #content-wrapper{
        padding-top: 0;
    }
    #result-wrapper .list-pageinfo{
        display: flex;
        font-weight: 600;
    }
    .sc-w{
        margin-bottom: 1.5rem;
    }
    .ftr-a{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    #shop-nav{
        margin-bottom: 0
    }
    #improve_search{
        margin-bottom: .75rem;
    }
    .displayoptions.hidden-xs{
        display: none;
    }
}