body[data-page="2"] #content-wrapper{
    padding-top: 1.5rem;
}
#content{
	order: 1;
}
/* Produktliste */
.p-w .img-w{
    position: relative;
}
.sc-w .item_desc{
    margin: .2rem 0;
}
#result-options{
    width: 100%;
}
#result-options .filter-collapsible-control{
    display: none;
}
.ftr-a{
    margin: 1rem -.25rem 2rem -.25rem;
}
.ftr-a a{
    margin: .25rem;
}
.ftr-a .delete{
	font-family: "Courier New",Courier,'Arial';
	margin-right: .25rem;
	display: inline-block;
	position: relative;
	top: 1px;
}
#result-wrapper > .desc{
    margin-bottom: 2rem;
}
#result-wrapper>.desc:empty{
    display: none;
}
#result-wrapper .list-pageinfo{
    display: none;
}
#filter-collapsible{
    display: none;
}
.tags-list{
    margin-top: 2rem;
}
.tags-list .btn-xs.badge{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}
.form-inline.displayoptions:before,
.form-inline.displayoptions:after{
    display: none;
}
.endless-scrolling{
    width: 100%;
    margin: 1rem 0;
}
#result-wrapper > .title .right{
    margin-left: 1rem;
}
#ftr-tg{
    margin-left: 1rem;
    cursor: pointer;
}
#ftr-tg .img-ct{
    width: 1.8rem
}
#slider-top-products {
    margin-bottom: 1rem;
}
/* Endless To Top */

#nfity-scroll{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
#nfity-scroll .nfy-placeholder{
	width: 100%;
	height: 200vh;
	max-height: calc(100% - 5rem);
}
#nfity-scroll .nfy-scroller{
	position: -webkit-sticky;
	position: sticky;
	top: calc(100% - 6rem);
	z-index: 12;
	width: 100%;
	display: flex;
	justify-content: center;
}
#nfity-scroll .nfy-scroller a{
	width: 3.4rem;
	height: 3.4rem;
	background: #222;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
}
#nfity-scroll .nfy-scroller .ar{
	border-color: #fff;
	padding: .3rem;
	border-width: 0 3px 3px 0;
}
[data-page="2"] #content-wrapper > .row{
	align-items: flex-start;
}
#p-l .endless-scrolling:last-child{
    opacity: 1;
    height: 3.4rem;
    z-index: 900;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-l .endless-scrolling:last-child button{
	top: 5rem;
    font-size: 0;
    color: transparent;
    width: 2.1rem;
    height: 2.1rem;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0;
    background: #222;
    border-top-color: @brand;
	animation: 1.2s ease-in-out 0s infinite both spin;
}
.sidecart-open .dropdown.open .c-dp>.inside{
	animation: .4s ease .1s 1 both slide-in;
}
@keyframes slide-in{
	from{
		transform: translateX(110%);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes spin{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg)
	}
}
@supports (position: sticky){
	#p-l{
		position: relative;
		padding-bottom: 5rem;
	}
	#nfity-scroll{
		display: block;
	}
}
@supports (position: -webkit-sticky){
	#p-l{
		position: relative;
		padding-bottom: 5rem;
	}
	#nfity-scroll{
		display: block;
	}
}
/* Amazon-Pay-Button */
.p-c .lpa-pay-button.lpa-pay-button-express{
	display: block;
	margin: .5rem 0 0 0;
}
@media screen and (max-width: 767px){
	#nfity-scroll .nfy-scroller{
		top: calc(100% - 5.5rem);
	}
}
@media screen and (min-width: 992px){
    #ftr-tg{
        display: none;
    }
}
@media screen and (max-width: 991px){
    body[data-page="2"] #content-wrapper{
        padding-top: 0;
    }
    #result-wrapper .list-pageinfo{
        display: flex;
        font-weight: 600;
    }
    .sc-w{
        margin-bottom: 1.5rem;
    }
    .ftr-a{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    #improve_search{
        margin-bottom: .75rem;
    }
    .displayoptions.hidden-xs{
        display: none;
    }
}