body[data-page="2"] #content-wrapper{
    padding-top: 1.5rem;
}
/* Produktliste */
#product-list{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1600px){
    #product-list .product-wrapper,
	#sidepanel_left.show-above > .inside > section,
	.content-cats-small > div{
        width: calc(100% / @listElmXl);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
    #product-list .product-wrapper,
	#sidepanel_left.show-above > .inside > section,
	.content-cats-small > div{
        width: calc(100% / @listElmLg);
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    #product-list .product-wrapper,
	#sidepanel_left.show-above > .inside > section,
	.content-cats-small > div{
        width: calc(100% / @listElmMd);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #product-list .product-wrapper,
	.content-cats-small > div{
        width: calc(100% / @listElmSm);
    }
}
@media screen and (max-width: 768px){
    #product-list .product-wrapper,
	.content-cats-small > div{
        width: calc(100% / @listElmXs);
    }
}
#product-list:before,
#product-list:after{
    display: none;
}
.product-wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-wrapper .image-wrapper{
    position: relative;
    display: block;
}
.product-wrapper .overlay-img{
    position: absolute;
    top: .75rem;
    right: .75rem;
} 
.content-cats-small{
    margin-bottom: 3rem;
}
.content-cats-small .image-content{
    border-radius: .3rem;
    overflow: hidden;
}
@media screen and (min-width: 1600px){
    .content-cats-small > div{
        width: calc(100% / 5);
    }
}
.content-cats-small .thumbnail{
    margin-bottom: 1rem;
}
.content-cats-small .thumbnail > a{
    border-radius: .3rem;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    transition: .3s ease;
}
.content-cats-small .thumbnail > a:hover{
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.15);
}
.content-cats-small .caption{
    font-weight: 600;
    margin: 0;
}
.content-cats-small .item_desc{
    margin: .2rem 0;
}
.content-cats-small .subsub{
    padding: 0;
    margin: .2rem 0;
    list-style: none;
}
.content-cats-small .hr-sm{
    margin: 5px 0;
}
#result-options{
    width: 100%;
}
#result-options .filter-collapsible-control{
    display: none;
}
.active-filters{
    margin: 1rem -.25rem 2rem -.25rem;
}
.active-filters a{
    margin: .25rem;
}
.active-filters a .fa-trash-o{
    position: relative;
    width: .6rem;
    height: .6rem;
    opacity: 0.7;
    display: inline-block;
    margin-left: .2rem;
}
.active-filters a .fa-trash-o:before,
.active-filters a .fa-trash-o:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: rotate(45deg);
    width: .15rem;
    background: black;
}
.active-filters a .fa-trash-o:after{
    transform: rotate(-45deg);
}
#result-wrapper > .desc{
    margin-bottom: 2rem;
}
#result-wrapper>.desc:empty{
    display: none;
}
#result-wrapper .list-pageinfo{
    display: none;
}
#filter-collapsible{
    display: none;
}
body[data-page="2"] .breadcrumb-wrapper > div,
body[data-page="2"] .breadcrumb-wrapper > div > div{
    margin: 0;
    padding: 0;
}
.breadcrumb-wrapper .list-pageinfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
}
.breadcrumb-wrapper .list-pageinfo strong{
    font-weight: 600;
}
body[data-page="2"] .breadcrumb-wrapper .page-current{
    margin-right: 2rem;
}
.tags-list{
    margin-top: 2rem;
}
.tags-list .btn-xs.badge{
    margin: 0.2rem 0.2rem 0.2rem 0;
    border-radius: .3rem;
}
.form-inline.displayoptions:before,
.form-inline.displayoptions:after{
    display: none;
}
.endless-scrolling:nth-child(2){
    width: 100%;
    margin: 1rem 0;
}
.endless-scrolling:not(:nth-child(2)){
    position: absolute;
    left: 0;
    bottom: 5rem;
    opacity: 0;
    pointer-events: none;
}
#result-wrapper > .title{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}
#result-wrapper > .title h1{
    margin: 0;
}
#result-wrapper > .title .right{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
#filter-toggle{
    margin-left: 1rem;
    cursor: pointer;
}
#filter-toggle .image-content{
    width: 1.8rem
}
#slider-top-products {
    margin-bottom: 1rem;
}
#slider-top-products .panel-title{
    margin-bottom: 0;
}
#suche2 ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidepanel_left.show-above{
	float: none;
}
#sidepanel_left.show-above .panel-slider{
	display: none;
}
/* Endless To Top */

#nfity-scroll{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
#nfity-scroll .nfy-placeholder{
	width: 100%;
	height: 200vh;
	max-height: calc(100% - 5rem);
}
#nfity-scroll .nfy-scroller{
	position: -webkit-sticky;
	position: sticky;
	top: calc(100vh - 6rem);
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
}
#nfity-scroll .nfy-scroller a{
	width: 3.4rem;
	height: 3.4rem;
	background: #222;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
}
#nfity-scroll .nfy-scroller .css-arrow{
	border-color: #fff;
	padding: .3rem;
	border-width: 0 3px 3px 0;
}
[data-page="2"] #content-wrapper > .row{
	align-items: flex-start;
}
@supports (position: sticky){
	#product-list{
		position: relative;
		padding-bottom: 5rem;
	}
	#nfity-scroll{
		display: block;
	}
}
@supports (position: -webkit-sticky){
	#product-list{
		position: relative;
		padding-bottom: 5rem;
	}
	#nfity-scroll{
		display: block;
	}
}
@media screen and (max-width: 767px){
	#nfity-scroll .nfy-scroller{
		top: calc(100vh - 4.5rem);
	}
}
@media screen and (min-width: 992px){
    #filter-toggle{
        display: none;
    }
	/* Filter Above */
	#sidepanel_left.show-above > .inside{
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
	#sidepanel_left.show-above{
		max-width: none;
		padding: 0;
		margin: 1rem 0;
	}
	#sidepanel_left.show-above .inside > section{
		padding: 5px 15px;
		margin: 0;
		position: relative;
	}
	#sidepanel_left.show-above .box-body,
	#sidepanel_left.show-above .panel-body{
		display: none;
		background: #fff;
		z-index: 1;
		left: 15px;
		right: 15px;
		padding: .75rem 1rem;
		position: absolute;
		border: 1px solid @lightborder;
		margin-top: -3px;
		border-top: 0;
		border-bottom-left-radius: .3rem;
		border-bottom-right-radius: .3rem;
		max-height: 400px;
		overflow: auto;
	}
	#sidepanel_left.show-above .panel.open .box-body,
	#sidepanel_left.show-above .panel.open .panel-body{
		display: block;
	}
	#sidepanel_left.show-above .panel-heading{
		margin: 0;
		padding: .75rem 1rem;
		border: 1px solid @lightborder;
		border-radius: .3rem;
		font-size: 1rem;
		background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat right .75rem center/.5rem auto;
		cursor: pointer;
		transition: .3s ease;
	}
	#sidepanel_left.show-above .panel-heading:hover,
	#sidepanel_left.show-above .panel.open .panel-heading,
	#sidepanel_left.show-above .panel.open .box-body,
	#sidepanel_left.show-above .panel.open .panel-body{
		border-color: @defaultborder;
	}
	#sidepanel_left.show-above .panel-heading h5{
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
	}
}
@media screen and (max-width: 991px){
    body[data-page="2"] #content-wrapper{
        padding-top: 0;
    }
    #result-wrapper > .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    #result-wrapper > .title > h1{
        margin-bottom: 0;
    }
    #result-wrapper .list-pageinfo{
        display: flex;
        font-weight: 600;
    }
    .content-cats-small{
        margin-bottom: 1.5rem;
    }
    .active-filters{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    #improve_search{
        margin-bottom: .75rem;
    }
    .displayoptions.hidden-xs{
        display: none;
    }
}