*{
    -webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	box-sizing: border-box;
}
*:focus{
    outline: none;
}
html{
    margin: 0;
    line-height: 1.4;
	scroll-behavior: smooth;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin: 0;
    background: white;
    color: @defaulttext;
	scrollbar-width: thin;
}
#maintenance-mode.navbar{
	padding: .5rem;
	background: @info;
	font-size: .9rem;
	color: #fff;
}
/* Prevent Jumps on Font-Load
@media screen and (min-width: 1401px){
	#cat-w .mm-mainlink{
		height: 3.086rem;
	}
}
@media screen and (max-width: 1400px) and (min-width: 768px){
	#cat-w .mm-mainlink{
		height: 2.762rem;
	}
}
@media (max-width: 1199px) and (min-width: 768px){
	#cat-w .mm-mainlink{
		height: 2.574rem;
	}	
} */
/* Helper-Classes */
[class*="dpflex"]{
	display: flex;
}
.dpflex-a-center{
	align-items: center;
}
.dpflex-a-start{
	align-items: flex-start;
}
.dpflex-j-end{
	justify-content: flex-end;
}
.dpflex-j-between{
	justify-content: space-between;
}
.dpflex-j-center{
	justify-content: center;
}
.dpflex-wrap{
	flex-wrap: wrap;
}
.dpflex-nowrap{
	flex-wrap: nowrap;
}
.nowrap{
	white-space: nowrap;
}
.block{
    display: block;
}
.container,
.w100{
    width: 100%;
}
.mw-container{
    padding-left: 100px;
    padding-right: 100px;
    max-width: calc(@maxPageWidthpx + 200px);
    margin-left: auto;
    margin-right: auto;
}
.css-check:before{
	content: '\2713';
	display: inline-block;
	margin-right: .15rem;
	color: @brand;
}
.notextov{
	overflow: hidden;
	text-overflow: ellipsis;
}
.noblockov{
	overflow: hidden;
}
a.defaultlink:not(.btn){
	color: @defaulttext;
}
a.defaultlink:not(.btn):hover{
	color: @brand;
}
.styled-list{
	margin: 1rem 0;
}
.styled-list > .list-entry{
	margin: .5rem 0;
}
.row-multi{
	margin-top: -15px;
	margin-bottom: -15px;
}
.row-multi > [class*="col-"]{
	padding-top: 15px;
	padding-bottom: 15px;
}
.order-last{
    order: 1;
}
.img-brd{
	border-radius: .3rem;
}
.icon-wt{
	margin-right: .5rem;
}
.text-brand{
	color: @brand;
}
.text-lg{
	font-size: 1.1rem;
}
.mauto{
	margin: auto;
}

/* Überschriften */
h1, .h1{
    font-size: 2.5rem;
}
h2, .h2{
    font-size: 2.2rem;
}
h3, .h3, .mgm .category-title, legend{
    font-size: 1.85rem;
}
h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3{
    font-size: 1.25rem;
}
h5, .h5{
    font-size: 1.125rem;
}
h6, .h6{
    font-size: 1rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .mgm .category-title{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.1;
    color: @darktext;
	font-weight: bold;
    letter-spacing: -.2px;
}
strong, b, label, legend{
    font-weight: 600;
    color: @darktext;
}
a,
a:not(.btn):hover,
a:not(.btn):focus,
a:not(.btn):visited,
a:not(.btn):active{
    color: @defaulttext;
}
input, button, select, textarea{
	font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    font-size: 1rem;
    line-height: normal;
	color: @defaulttext;
}
ul.list-inline,
ul.navbar-nav,
ul.blanklist{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.list-inline > li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}
ul.list-inline > li:first-child{
    padding-left: 0;
}
ul.list-inline > li:last-child{
    padding-right: 0;
}
header .badge,
footer .badge{
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 .5rem;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
}
.badge em{
    font-style: normal;
}
.text-nowrap{
    white-space: normal;
}
.radio > label{
    display: flex;
    align-items: center;
}
.radio > label .control-label{
    flex-grow: 1;
}
.radio > label > input[type="radio"]{
    margin-right: .5rem;
}
dd{
    margin-left: 0;
}
.hidden,
.sr-only{
    display: none;
}
body.ie *{
    flex-shrink: 1;
}

/* CSS Arrows */
.ar{
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.ar-r{
    transform: rotate(-45deg);
}
.ar-l{
    transform: rotate(135deg);
}
.ar-u{
    transform: rotate(-135deg);
    margin-top: .3rem;
}
.ar-d{
    transform: rotate(45deg);
    margin-bottom: .3rem;
}
.visible-xxs{
    display: none;
}
.border-box,
ul.border-box{
	padding: 2rem;
	border: 1px solid @lightborder;
}


.pr button{
    display: flex;
    align-items: center;
}
#account .pr button .img-ct,
.pr button .img-ct.mr{
    margin-right: .25rem;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* Maxwidth 100% */
*:not(.img-ct):not(.loaded):not(.second-img) > img{
	max-width: 100%;
	height: auto !important;
}
iframe,
video{
	max-width: 100%;
}


.m0{
    margin: 0 !important;
}
.mb-spacer{
	margin-bottom: 5rem;
}
.mb-spacer.mb-small{
	margin-bottom: 2rem;
}
.mb-spacer.mb-xs{
	margin-bottom: 1rem;
}
.mb-spacer:empty{
	display: none;
}
.img-ct.icon.icon-caret{
	width: .8rem;
	min-width: .8rem;
	height: .8rem;
	margin-left: 1rem;
	margin-right: .5rem;
}
.btn-group-justified .btn{
    display: block;
    text-align: center;
}
.hr-sm{
    margin: 10px 0;
}
.small,
small,
.price-note{
    font-size: .85rem;
    line-height: normal;
}
.text-muted,
.label-not-available{
    color: @lighttext;;
}
.disabled,
.not-available{
    opacity: .6;
    cursor: not-allowed;
}
.disabled{
	pointer-events: none;
}
/* Artikel pro Reihe */

.panel.box .icon-caret{
	display: none;
}

/* Formulare */
fieldset{
    margin: 0;
    padding: 0;
    border: 0
}
fieldset + fieldset{
    margin-top: 3rem;
}


select,
.fa-caret-down{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: white url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat right .95rem center/.5rem auto;
}
.fa-caret-down{
    display: block;
	background-position: center center;
    width: 1rem;
    height: 1rem;  
    position: relative;
    top: 2px;
}
body.ie select{
    background: none;
}
caption{
    text-align: left;
    font-weight: 600;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.input-group,
.form-inline{
    display: flex;
}
.form-inline{
    flex-wrap: wrap;
}
.input-group .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	min-width: 0;
}
.input-group .input-group-btn .btn{
    height: 100%;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.input-group-btn{
    white-space: nowrap;
}

/* Close Button */

.close-btn,
button[data-dismiss="modal"],
.alert .close{
    width: 1.25rem;
    margin: 0 0 0 1rem;
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    appearance: inherit;
    background: none;
    order: 1;
    cursor: pointer;
    font-family: "Courier New",Courier,'Arial';
    background: @darkbg;
    width: 2.1rem;
    height: auto;
    line-height: 2.2rem;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    padding: 0;
}
button[data-dismiss="modal"] span,
.close-btn span{
    display: none;
}
.close-btn:before, 
button[data-dismiss="modal"]:before,
.alert .close:before{
	content: '\00d7';
	display: block;
}
.alert .close:before{
	color: white;
}
/* Tabellen */
table{
    width: 100%;
    margin: 2rem 0;
    border-collapse: collapse;
    border-spacing: 0
}
table thead,
table th{
    text-align: left;
    color: @darktext;
}
table tr{
    border-bottom: 1px solid @lightborder;
}
table th,
table td{
    padding: .5rem 1rem;
}
.table-responsive{
    overflow: auto;
}

/* Overlay Background */
.overlay-bg,
.modal-dialog{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  rgba(0,0,0,.7);
    margin: 0;
}
.overlay-bg{
    opacity: 0;
    transition: opacity .4s ease;
    transform: translateY(-1000%);
    z-index: 10;
}
.dropdown.open .overlay-bg,
body.shw-sb #navbar-offcanvas .overlay-bg,
body.show-sidebar #sp-l .overlay-bg{
    opacity: 1;
    transform: translateY(0);
}

/* Rating */
.rating .icon:not(:last-child){
    margin-right: .05rem;
}
.rating  svg{
    fill: @warning;
}

.tooltip{
	display: none !important;
}


/* Pagination */
ul.pagination{
    margin: 2rem 0;
    font-weight: 600;
}
ul.pagination li a{
    line-height: 2rem;
}
.pagination-group > span{
    order: 1;
}
ul.pagination li:not(.active):hover a,
.color-brand{
    color: @brand;
}
ul.pagination li.active a{
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
    min-width: 2rem;
    padding: 0 .5rem;
    border-radius: 50%;
}
/* Warenkorb */
.c-it,
.item-related{
    padding: 1rem 0;
    border-top: 1px solid @lightborder;
    overflow: hidden;
}
.c-it:last-child,
.item-related:last-child{
    border-bottom: 1px solid @lightborder;
}
.c-it > .row{
    display: flex;
    flex-wrap: wrap;
}
.c-it > .row:before,
.c-it > .row:after{
    display: none;
}
.c-it img{
    border-radius: .3rem;
}
.c-it ul{
    padding: 0;
    list-style: none;
}
.c-it .single-price{
    margin-right: 1rem;
}
.c-it .img-ct{
    max-width: 100px;
}
.c-it .qty-wrapper .form-inline{
    justify-content: flex-end;
}
.c-it .img-col .img-ct{
    width: 100%
}
.c-it .col-lg-9.small{
    display: flex;
    align-items: center;
}
.c-it:not(.sb-it) .price{
    font-size: 1.2rem;
}
.c-it.sb-it > .row > div:not(.pr){
    justify-content: space-between;
}
.c-it.sb-it > .row > div:not(.pr) > .row{
    align-self: center;
    width: auto;
}
.c-it.sb-it > .row > div:not(.pr) > .row.first{
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 6rem);
}
.c-it.sb-it > .row > div:not(.pr) > .row.first .col-lg-9{
    order: 1;
    padding-left: 0;
    width: auto;
	hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-it.sb-it > .row > div:not(.pr) > .row.first .col-lg-3{
    padding-right: 0;
    width: auto;
    white-space: nowrap;
}
.c-it.sb-it > .row > div:not(.pr) > .row.first .col-lg-3:after{
    content: 'x';
    margin-right: .25rem;
}
.c-it.sb-it .img-col .img-ct{
    max-width: 2.25rem;
}
.c-it.sb-it .col-xs-12.col-lg-12.text-right{
    min-width: 6rem;
    width: 6rem;
}
.c-it.sb-it > .row > div:not(.pr){
    flex-wrap: nowrap;
}
.c-it.sb-it > .row > div:not(.pr) > .row:last-child{
    white-space: nowrap;
}

.icon.img-ct img{
    object-fit: contain;
}
.second-img {
    opacity: 0; transition: .3s ease;
}
.second-img img {
    background: white
}
a:hover .second-img {
    opacity: 1;
}
body.ie .second-img,
body.edge .second-img{
    display: none;
}
body.ie a:hover .second-img,
body.edge a:hover .second-img{
    display: block;
}

/* Custom Content */
.custom-content{
    margin: 4rem 0;
}
.custom-content > *:first-child{
    margin-top: 0;
}
.custom-content > *:last-child{
    margin-bottom: 0;
}
.custom_content a,
.custom-content a,
body[data-page="20"] #content a,
body[data-page="21"] #content a,
body[data-page="27"] #content a,
body[data-page="31"] #content a{
    color: @brand;
}

body #bodyloader{
    line-height: 2.315rem;
    background: @info;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
	opacity: 0;
	transform: translateY(-100%);
	pointer-events: none;
	transition: .3s ease;
	transition-delay: 1s;
}
body.loading #bodyloader{
	opacity: 1;
	transform: translateY(0);
}
body #bodyloader strong{
	color: white;
}

/* Freez Body on Sidepanel open */
body.show-sidebar,
body.lightbox-shown{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
body.show-sidebar #evo-nav-wrapper{
    z-index: -1;
}

/* Amazon Pay Login */
#login_form .lpa-login-button,
#login-popup .lpa-login-button{
	text-align: center;
	margin: .5rem 0;
}
/* vCard Upload */
#vcard-upload .dropdown-menu{
	left: auto;
	right: 0;
}
#vcard-upload .panel-body{
	padding: .5rem 1rem;
}
/* Mobile Product Slider Arrows */
.panel-slider .panel-body{
	position: relative;
}
.ar-ct-m{
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	pointer-events: none;
}
.ar-ct-m .ar-ct:before{
	content: '';
	padding-top: 100%;
	display: block;
}
.ar-ct-m .ar-ct .sl-ar{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: all;
	padding: .5rem 0.8rem;
}
.ar-ct-m .ar-ct .sl-pr{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.ar-ct-m .ar-ct .sl-nx{
	transform: translateX(-100%) translateY(-50%);
	margin-left: -15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
@media screen and (min-width: 1600px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmXl * 100%);
	}
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmLg * 100%);
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmMd * 100%);
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmSm * 100%);
	}
}
@media screen and (max-width: 768px){
	.ar-ct-m .ar-ct .sl-nx{
		left: calc(@listElmXs * 100%);
	}
}
@media screen and (max-width: 575px){
	.ar-ct-m .ar-ct .sl-nx{
		margin-left: -8px;
	}
}

/* Sidebar everywhere */
.sidebar-overall #content{
	order: 1;
}

/* Responsive */
@media screen and (min-width: 1600px){
    .col-xl-10{
        width: 83.33%
    } 
    .col-xl-2{
        width: 16.66%;
    }
}
@media screen and (max-width: 1400px){
	.mw-container{
        padding-left: 50px;
        padding-right: 50px;
    	max-width: calc(@maxPageWidthpx + 100px);
	}
    h1, .h1{
        font-size: 2.9rem;
    }
}
@media screen and (max-width: 1199px){
    h1, .h1{
        font-size: 2.75rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3, .mgm .category-title, legend{
        font-size: 1.65rem;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.8rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
}
@media screen and (max-width: 991px){
    h1, .h1{
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 1.9rem;
    }
    h3, .h3, .mgm .category-title, legend{
        font-size: 1.5rem;
    }
    p{
        margin: .6rem 0;
        font-size: .95rem;
    }
    .small, small, .price-note{
        font-size: .85rem;
    }
    code, kbd, pre, samp{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .mgm .category-title{
        margin-bottom: .85rem;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.5rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: flex;
    }
	.mb-spacer{
		margin-bottom: 4rem;
	}
}
@media screen and (max-width: 767px){
	.mw-container{
        padding-left: 20px;
        padding-right: 20px;
    	max-width: calc(@maxPageWidthpx + 40px);
	}
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 1.7rem;
    }
    h3, .h3, .mgm .category-title, legend {
        font-size: 1.4rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.15rem;
    }
    h5, .h5 {
        font-size: 1.025rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .mgm .category-title{
        line-height: 1;
    }
    #main-wrapper{
        overflow-x: hidden;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.15rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input.quantity, select, textarea{
        padding: 0.4rem 0.7rem;
    }
    .p-c .price{
        font-size: 1.2rem;
    }
    .custom-content{
        margin: 3rem 0
    }
    .c-it ul{
        margin: .5rem 0;
    }
	body[data-page="18"] .sl-w{
		margin-bottom: 0;
	}
	.banner .area-desc{
		min-width: 15rem;
	}
	.banner a[style]{
		border-width: .2rem;
	}
	.exp.flo-bt .quantity-wrapper{
		right: .75rem;
		bottom: .75rem;
	}
	.exp input.quantity{
		display: none;
	}
	.exp:not(.flo-bt) .input-group-btn .btn{
		border-radius: 3rem;
	}
	.mb-spacer{
		margin-bottom: 3rem;
	}
	.panel-slider .right .ar{
		border-color: white;
		position: relative;
		left: -2px;
	}
	.panel-slider .right .btn-primary{
		padding: .5rem .8rem;
	}
	#page-not-found h1{
		font-size: 6rem;
	}
}
@media screen and (max-width: 575px){
    h1, .h1 {
        font-size: 1.8rem;
    }
    h2, .h2 {
        font-size: 1.5rem;
    }
    h3, .h3, .mgm .category-title, legend {
        font-size: 1.3rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.05rem;
    }
    h5, .h5 {
        font-size: 1rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    [class*="col-"]{
        padding-left: 8px;
        padding-right: 8px;
    }
    .visible-xxs{
        display: block;
    }
    .custom-content{
        margin: 2rem 0
    }
    .hidden-xxs{
        display: none;
    }
    .c-it > .row > div:not(.pr) > .row:last-child{
        margin-top: .5rem;
    }
    .c-it > .row > div:not(.pr) > .row:last-child > div{
        width: 50%;
    }
    .c-it .single-price{
        display: none;
    }
    .c-it > .row > div:not(.pr) > .row:first-child > div{
    }
	.exp.flo-bt .quantity-wrapper{
		right: .5rem;
		bottom: .5rem;
	}
	.mb-spacer{
		margin-bottom: 2rem;
	}
	.p-w:hover .p-c.hv-e:after{
		top: -8px;
		left: -8px;
		right: -8px;
	}
	.p-w:hover .hv-e .exp{
		left: -8px;
		right: -8px;
		padding: 8px;
	}
}


/* No Scrollbar */
.no-scrollbar{
	scrollbar-width: none;
    scrollbar-height: none;
	-ms-overflow-style: none;	
}
.no-scrollbar::-webkit-scrollbar { 
	display: none; 
}
/* Dropper Zones */
.dropper-box{
	background: #eee;
	text-align: center;
	padding: 6px;
}


.img-w{
    margin-bottom: .9rem;
}
.img-w .img-ct{
    transition: box-shadow .3s ease, transform .3s ease;
}
.img-w:hover .img-ct{
    box-shadow: 0 16px 16px rgba(0,0,0,.1);
    transform: translateY(-4px);
}

/* Snackys Content */
.image .caption{
    margin-top: .7rem;
}


/* Amazon Pay V2 Anpassung */
.lpa-checkout-wrapper .nav-wizard {display: none;}