*{
    -webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin: 0;
    line-height: 1.42857143;
    background: white;
    color: @defaulttext;
	/*overflow-x: hidden !important;*/
	/*filter: grayscale(@blackNwhite);*/
}
/* Helper-Classes */
[class*="dpflex"]{
	display: flex;
}
.dpflex-a-center{
	align-items: center;
}
.dpflex-a-start{
	align-items: flex-start;
}
.dpflex-j-end{
	justify-content: flex-end;
}
.dpflex-j-between{
	justify-content: space-between;
}
.dpflex-j-center{
	justify-content: center;
}
.dpflex-wrap{
	flex-wrap: wrap;
}
.nowrap{
	white-space: nowrap;
}
.block{
    display: block;
}
.container{
    width: 100%;
}
.mw-container{
    padding-left: 100px;
    padding-right: 100px;
    max-width: @maxPageWidthpx;
    max-width: calc(@maxPageWidthpx + 200px);
    margin-left: auto;
    margin-right: auto;
}
.css-check:before{
	content: '';
	width: 5px;
	min-width: 5px;
	height: 10px;
	border: solid @brand;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	left: 7px;
	display: inline-block;
	margin-right: 1rem;
	position: relative;
}
.notextov{
	overflow: hidden;
	text-overflow: ellipsis;
}
a.defaultlink:not(.btn){
	color: @defaulttext;
}
a.defaultlink:not(.btn):hover{
	color: @brand;
}
.styled-list{
	margin: 1rem 0;
}
.styled-list > .list-entry{
	margin: .5rem 0;
}
.styled-list > .list-entry .image-content{
	margin-right: .5rem;
}
.row-multi{
	margin-top: -15px;
	margin-bottom: -15px;
}
.row-multi > [class*="col-"]{
	padding-top: 15px;
	padding-bottom: 15px;
}
.order-last{
    order: 1;
}

h1, .h1{
    font-size: 3.125rem;
}
h2, .h2{
    font-size: 2.2rem;
}
h3, .h3, .megamenu .category-title, legend{
    font-size: 1.85rem;
}
h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3{
    font-size: 1.25rem;
}
h5, .h5{
    font-size: 1.125rem;
}
h6, .h6{
    font-size: 1rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .megamenu .category-title{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.1;
    color: @darktext;
	font-weight: bold;
}
strong, b{
    font-weight: 600;
    color: @darktext;
}
a,
a:not(.btn):hover,
a:not(.btn):focus,
a:not(.btn):visited,
a:not(.btn):active{
    color: @defaulttext;
}
input{
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    transition: .3s ease;
}
#navbar-offcanvas{
    display: none;
}
.form-control{
    font-size:  1rem;
}
ul.list-inline,
ul.navbar-nav,
ul.blanklist{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.list-inline > li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}
ul.list-inline > li:first-child{
    padding-left: 0;
}
ul.list-inline > li:last-child{
    padding-right: 0;
}
.dropdown-menu>li>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
header .badge{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    min-width: 1.625rem;
    padding: 0 .5rem;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
}
.badge em{
    font-style: normal;
}
.text-nowrap{
    white-space: normal;
}
.radio > label{
    display: flex;
    align-items: center;
}
.radio > label .control-label{
    flex-grow: 1;
}
.radio > label > input[type="radio"]{
    margin-right: 1rem;
}
dd{
    margin-left: 0;
}
.hidden{
    display: none;
}
body.ie *{
    flex-shrink: 1;
}

/* CSS Arrows */
.css-arrow{
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.css-arrow-right{
    transform: rotate(-45deg);
}
.css-arrow-left{
    transform: rotate(135deg);
}
.css-arrow-up{
    transform: rotate(-135deg);
    margin-top: .3rem;
}
.css-arrow-down{
    transform: rotate(45deg);
    margin-bottom: .3rem;
}
.visible-xxs{
    display: none;
}

/* PayPal Sidebarbasket Button */
.items-list .btn-ppe-cart-container {text-align:center}
.paypalexpress.btn-ppe-cart {float: none !important;display:block;}


/* Buttons */
.btn,
.modal-dialog .answer > a{
    display: inline-block;
    padding: .5rem 1.2rem;
    border-radius: 3rem;
    line-height: 1.2;
    font-weight: 600;
    border: 1px solid @defaultborder;
    background: none;
    position: relative;
    transition: .3s ease;
    color: @darktext;
}
.btn,
.btn:hover,
.btn:focus{
    text-decoration: none;    
}
.btn-blank{
    border: 0;
    padding: 0;
    border-radius: 0;
}
.btn-default:hover,
.modal-dialog .answer > a:hover{
    background: @lightbg;
}
/*.btn:not(.dropdown-toggle):not(.btn-xs):after{
    content: '\203A';
    display: inline-block;
    margin-left: .2rem;
    position: relative;
    top: -.05rem;
    font-weight: 700;
}*/
.btn-danger,
.btn.warning,
.btn-warning,
.btn-success,
.btn-info{
    border: 0;
    color: @backgroundtext;
}
.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}
label.btn-block,
.radio .btn-block{
    text-align: left;
}
.btn.btn-primary,
.btn.active,
.btn-social{
    border: 0;
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
}
.btn-lg{
    padding: .75rem 1.2rem;   
    font-size: 1rem;
}
.btn-group,
.modal-dialog .answer{
    display: flex;
    margin: .5rem 0;
}
.btn-group-full .btn,
.modal-dialog .answer > a{
    flex-grow: 1;
}
.text-right .btn-group,
.btn-group.text-right{
    justify-content: flex-end;
}
.btn-group .btn:not(:only-child):first-child,
.modal-dialog .answer > a:not(:only-child):first-child{
    border-radius: .3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child),
.modal-dialog .answer > a:not(:first-child):not(:last-child){
    border-radius: 0;
}
.btn-group .btn:not(:only-child):last-child,
.modal-dialog .answer > a:not(:only-child):last-child{
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn:not(:first-child),
.modal-dialog .answer > a:not(:first-child){
    margin-left: -1px;
}
.btn-group .btn:after,
.modal-dialog .answer > a:after{
    display: none;
}
.btn-sm,
.btn-xs{
    padding: .3rem 1rem;
}
.btn-xs{
    font-size: .9rem;
}
.btn.disabled{
    font-weight: 400;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-social:hover,
.btn-social:focus,
.btn-social:active{
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}
.btn-info{
    background: @info;
}
.btn-warning{
    background: @warning;
}
.btn-danger{
    background: @danger;
}
.btn-success{
    background: @success;
}
.preload button{
    display: flex;
    align-items: center;
}
#account .preload button .image-content,
.preload button .image-content.mr{
    margin-right: .25rem;
}

#content-wrapper > .container{
    padding: 0;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row:before{
    display: none;
}
.row:after{
    display: none;
}

/* Alerts */
*[class*="alert"],
.file-error-message{
    padding: .75rem 1.25rem;
    border-radius: .25rem;
    font-weight: 600;
    color: @backgroundtext;
}
.alert:not(:first-child){
    margin-top: 1rem;
}
.alert:not(:last-child){
    margin-bottom: 1rem;
}
.alert{
    background: @darkbg;
}
.alert a:not(.btn){
    text-decoration: underline;
}
.alert-info{
    background: @info;
}
.alert-warning{
    background: @warning;
}
.alert-danger{
    background: @danger;
}
.alert-success{
    background: @success;
}
.alert a:not(.btn),
.alert *,
*[class*="alert"] *{
    color: @backgroundtext;
}
.m0{
    margin: 0 !important;
}
.mb-spacer{
	margin-bottom: 5rem;
}
.mb-spacer:empty{
	display: none;
}
.dropdown-menu{
    z-index: 11;
}
.fa-caret-down{
    display: block;
    width: 1rem;
    height: 1rem;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat center center/.5rem auto;    
    position: relative;
    top: 2px;
}
.btn-group-justified .btn{
    display: block;
    text-align: center;
}
.hr-sm{
    margin: 10px 0;
}
.small,
small,
.price-note{
    font-size: .9rem;
    line-height: normal;
}
.text-muted,
.label-not-available{
    color: @lighttext;;
}
.dropdown-menu{
    margin-top: .5rem;
}
.dropdown-menu li,
#top-bar .dropdown-menu li{
    display: block;
}
.disabled,
.not-available{
    opacity: .6;
    cursor: not-allowed;
    pointer-events: none;
}

/* Video */
video{
	max-width: 100%;
}

/* Formulare */
fieldset{
    margin: 0;
    padding: 0;
    border: 0
}
fieldset + fieldset{
    margin-top: 3rem;
}
.form-group{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.form-group.required label:after{
    content: '*';
    font-weight: 400;
    margin-left: .1rem;
    color: @danger;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input.quantity,
select,
textarea{
    width: 100%;
    border: 1px solid @defaultborder;
    padding: .5rem 1rem;
    display: block;
    transition: .3s ease;   
    border-radius: .3rem;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
textarea{
	max-width: 100%;
	min-height: 6rem;
	resize: vertical;
}
select{
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    -ms-appearance: inherit;
    appearance: inherit;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: white url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4Ni42IDQ1LjMyIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNDMuMyA0NS4zMkw4Ni42IDBIMHoiLz48L3N2Zz4=')no-repeat right .75rem center/.5rem auto;
}
body.ie select{
    background: none;
}
select:focus,
select:hover,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input.quantity:focus,
input.quantity:hover,
textarea:focus,
textarea:hover{
    outline: none;
    border-color: @strongborder;
}
label{
    font-weight: 600;
    display: block;
    margin-bottom: .25rem;
    color: @darktext;
}
legend{
    font-weight: 600;
    color: @darktext;
}
caption{
    text-align: left;
    font-weight: 600;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.input-group,
.form-inline{
    display: flex;
}
.form-inline{
    flex-wrap: wrap;
}
.input-group .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	min-width: 0;
}
.input-group .input-group-btn .btn{
    height: 100%;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.input-group-btn{
    white-space: nowrap;
}
div[submit-success], div[submit-error] {
    display: none;
}
.form-error-msg{
	color: @danger;
}

/* Close Button */

.close-btn,
.modal-header button[data-dismiss="modal"]{
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 0 0 1rem;
	-moz-appearance: inherit;
    -webkit-appearance: inherit;
    appearance: inherit;
	background: none;
	border: 0;
	padding: 0;
	position: relative;
	color: @blackbg;
	order: 1;
	font-size: 0;
}
.close-btn:before, 
.close-btn:after,
.modal-header button[data-dismiss="modal"]:before, 
.modal-header button[data-dismiss="modal"]:after{
	content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: currentcolor;;
}
.close-btn:before,
.modal-header button[data-dismiss="modal"]:before{
  transform: rotate(45deg);
}
.close-btn:after,
.modal-header button[data-dismiss="modal"]:after{
  transform: rotate(-45deg);
}

/* Tabellen */
table{
    width: 100%;
    margin: 2rem 0;
}
table thead,
table th{
    text-align: left;
    color: @darktext;
}
table tr{
    border-bottom: 1px solid @lightborder;
}
table th,
table td{
    padding: .5rem 1rem;
}
.table-responsive{
    overflow: auto;
}

/* Overlay Background */
.dropdown .overlay-bg,
#navbar-offcanvas .overlay-bg,
#sidepanel_left .overlay-bg,
#category-nav-wrapper .overlay-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:  rgba(0,0,0,.6);
    opacity: 0;
    margin: 0;
    transition: opacity .4s ease;
    transform: translateY(-1000%);
    z-index: 8;
}
.dropdown.open .overlay-bg,
body.show-sidebar-nav #navbar-offcanvas .overlay-bg,
body.show-sidebar #sidepanel_left .overlay-bg{
    opacity: 1;
    transform: translateY(0);
}

/* Rating */
.rating{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.rating i{
    display: block;
}
.rating i:not(:last-child){
    padding-right: .05rem;
}
.rating .icon{
    width: 1rem;
}

/* Product Slider */
.panel-slider .evo-slider{
    display: flex;
    flex-wrap: wrap;
}
.panel-slider .panel-heading h5{
    margin-bottom: 0;
}
.panel-slider .evo-slider:before,
.panel-slider .evo-slider:after{
    display: none;
}
.product-cell{
    text-align: left;
    line-height: normal;
}
.product-cell .image-content{
    border-radius: .3rem;
    overflow: hidden;
}
.product-cell .image-wrapper{
    display: block;
    margin-bottom: 1rem;
}
.product-cell .title{
    font-weight: 600;
    margin-bottom: 0;
}
.product-cell .title a{
    color: @darktext;
}
.product-cell .price{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    color: @brand;
}
.product-cell .price .footnote-reference{
    font-weight: 400;
}
.product-cell img:not(.overlay-img),
a img{
    transition: .3s ease;
}
.product-cell .image-wrapper:hover .image-content,
#start-boxes a:hover img{
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}
/*
.product-cell .expandable{
    display: none;
}
*/
.product-cell{
	position: relative;
}
.expandable.floating-button input.quantity,
.expandable.hide-qty input.quantity{
	display: none;
}
.expandable.floating-button{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 100%;
	pointer-events: none;
}
.expandable.floating-button .quantity-wrapper{
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	pointer-events: all;
}
.expandable.floating-button button[type="submit"]{ 
	padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandable.floating-button .image-content.icon{
	opacity: 1;
}
.expandable input.quantity{
	min-width: 4rem;
	width: 4rem;
	padding-right: .2rem;
}
.expandable:not(.floating-button) .input-group-btn,
.expandable:not(.floating-button) .input-group-btn .btn{
	width: 100%;
	justify-content: center;
}
.product-cell .rating{
    margin: .3rem 0;
}
.product-cell br{
    display: none;
}
.product-border .product-cell .image-wrapper .image-content, 
.product-border .content-cats-small .image-content{
	border: 1px solid #eee;
	border-radius: .3rem;
	overflow: hidden;
}
.overlay-text{
    position: absolute;
    left: 0;
    bottom: 2rem;
    background: #eee;
    padding: .4rem .6rem;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: @backgroundtext;
    background: @darkbg;
}
.overlay-text.lagerbestand0,
.overlay-text.sonderangebote{
    background: @danger;
}
.overlay-text.topangebote{
    background: @success;
}

/* Pagination */
ul.pagination{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    font-weight: 600;
}
ul.pagination li{
    margin: .25rem;
}
ul.pagination li a{
    line-height: 2rem;
    min-width: 2rem;
    text-align: center;
    padding: 0 .5rem;
    border-radius: 50%;
    display: block;
    transition: .3s ease;
}
.pagination-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination-group ul{
    margin: 0;
}
.pagination-group > span{
    order: 1;
}
ul.pagination li:not(.active):hover a{
    color: @brand;
}
ul.pagination li.active a{
    background: @brand;
    @gradientbrand;
    color: @backgroundtext;
}
/* Warenkorb */
.basket-item,
.item-related{
    padding: 1rem 0;
    border-top: 1px solid @lightborder;
    overflow: hidden;
}
.basket-item:last-child,
.item-related:last-child{
    border-bottom: 1px solid @lightborder;
}
.basket-item > .row{
    display: flex;
    flex-wrap: wrap;
}
.basket-item > .row > div:not(.preload){
    display: flex;
    flex-wrap: wrap;
}
.basket-item > .row > div:not(.preload) > .row{
    flex-grow: 1;
    width: 100%;
}
.basket-item > .row > div:not(.preload) > .row:first-child{
    align-self: flex-start;
}
.basket-item > .row > div:not(.preload) > .row:last-child{
    align-self: flex-end;
}
.basket-item > .row:before,
.basket-item > .row:after{
    display: none;
}
.basket-item img{
    border-radius: .3rem;
}
.basket-item ul{
    padding: 0;
    list-style: none;
}
.basket-item .single-price{
    margin-right: 1rem;
}
.basket-item .image-content{
    max-width: 100px;
}
.basket-item .qty-wrapper .form-inline{
    justify-content: flex-end;
}
.basket-item .img-col a{
    display: flex;
    height: 100%;
    align-items: center;
}
.basket-item .img-col .image-content{
    width: 100%
}
.basket-item .col-lg-9.small{
    display: flex;
    align-items: center;
}
.basket-item:not(.sidebar-item) .price{
    font-size: 1.2rem;
}
.basket-item.sidebar-item > .row > div:not(.preload){
    justify-content: space-between;
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row{
    align-self: center;
    width: auto;
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row.first{
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 6rem);
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row.first .col-lg-9{
    order: 1;
    padding-left: 0;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row.first .col-lg-3{
    padding-right: 0;
    width: auto;
    white-space: nowrap;
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row.first .col-lg-3:after{
    content: 'x';
    margin-right: .25rem;
}
.basket-item.sidebar-item .img-col .image-content{
    max-width: 2.25rem;
}
.basket-item.sidebar-item .col-xs-12.col-lg-12.text-right{
    min-width: 6rem;
    width: 6rem;
}
.basket-item.sidebar-item > .row > div:not(.preload){
    flex-wrap: nowrap;
}
.basket-item.sidebar-item > .row > div:not(.preload) > .row:last-child{
    white-space: nowrap;
}

/* JTL Slider */
.slider-wrapper {
    margin-bottom: 3rem;
}
.full-width-slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: 5rem;
    font-size: 0;
    width: 2.5rem;
    background: rgba(255,255,255,.4);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.full-width-slider .image-content{
	border-radius: 0;
}
.full-width-slider img{
    width: 100%;
}
.full-width-slider .slick-prev{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
.full-width-slider .slick-next{
    right: 0;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.full-width-slider:not(.slick-initialized) > *:nth-child(n+2){
    display: none;
}
.full-width-slider .css-arrow{
    padding: 8px;
    border-width: 0 3px 3px 0;
}
.full-width-slider .slick-prev .css-arrow{
    position: relative;
    left: .2rem;
}
.full-width-slider .slick-next .css-arrow{
    position: relative;
    right: .2rem;
}
.full-width-slider .slide{
    position: relative;
    display: block;
}
.full-width-slider .slide .htmlcaption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 1rem 2rem 1rem 2rem;
}
.full-width-slider .slide .htmlcaption .title{
    font-weight: 700;
    color: white;
}
.full-width-slider .slide .htmlcaption p{
    margin: .15rem 0 0 0;
}
.dots-wrapper{
    margin-top: 1.25rem;
}
.dots-wrapper ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.dots-wrapper ul li{
    margin: .5rem;
    transition: .3s ease;
    display: flex;
	width: 100%;
	flex-grow: 1;
	max-width: 4rem;
	min-width: .375rem;
}
.dots-wrapper ul li:not(.slick-active){
    opacity: .5;
}
.dots-wrapper button{
    padding: 0;
    border: 0;
    width: 100%;
    height: .375rem;
    border-radius: 1rem;
    font-size: 0;
    background: @blackbg;
}

/* Product Slider */
.panel-slider{
	overflow: hidden;
}
.slick-track{
    min-width: 100%;
}
.panel-slider .panel-heading > .panel-title,
#news-overview .panel-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.panel-slider .slick-arrow{
    background: @lightfocusbg;
}
.panel-slider .slick-arrow,
.product-slider.sidebar .slick-arrow,
#gallery .slick-arrow{
    height: 1.2rem;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
}
.panel-slider .right{
    display: flex;
    white-space: nowrap;
}
.panel-slider .btn-group.arrow-container{
    margin: 0 .5rem 0 0;
}
.panel-slider .panel-heading .arrow-container .slick-next,
.box-slider .panel-body .arrow-container-box .slick-prev,
#gallery .slick-prev{
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: .8rem;
}
.panel-slider .panel-heading .arrow-container .slick-prev,
.box-slider .panel-body .arrow-container-box .slick-next,
#gallery .slick-next{
    border-radius: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: .8rem;
}
.product-slider:not(.slick-initialized) > *:nth-child(n+7){
    display: none;
}
.box-slider .panel-body .arrow-container-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 2;
}
.box-slider .panel-body .arrow-container-box:after{
    content: '';
    display: block;
    padding-top: 100%;
    pointer-events: none;
}
.box-slider .panel-body .arrow-container-box .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: all;
}
.box-slider .panel-body .arrow-container-box .slick-next{
    right: 0;
}
.box-slider .panel-body .arrow-container-box .slick-prev{
    left: 0;
}

/* Banner */
body[data-page="18"] .banner{
    margin-bottom: 5rem;
}
.banner{
    margin-bottom: 3rem;
}
body[data-page="18"] .banner

/* Login Form */
#login_form,
#passwort_vergessen{
    border-radius: .3rem;
    padding: 3rem;
    margin-top: 2rem;
    background: @lightbg;
}
#login_form fieldset{
    max-width: 500px;
    margin: auto;
}

#shop-nav img,
.icon.image-content img{
    object-fit: contain;
}
div.second-img {
    opacity: 0; -webkit-transition: .3s ease; transition: .3s ease;
}
div.second-img img {
    background: white
}
a:hover div.second-img {
    opacity: 1;
}
body.ie div.second-img,
body.edge div.second-img{
    display: none;
}
body.ie a:hover div.second-img,
body.edge a:hover div.second-img{
    display: block;
}

/* Custom Content */
.custom-content{
    margin: 4rem 0;
}
.custom-content > *:first-child{
    margin-top: 0;
}
.custom-content > *:last-child{
    margin-bottom: 0;
}
.custom_content a,
.custom-content a{
    color: @brand;
}



/* Body Loading */
body.loading{
    overflow: hidden;
}
body.loading:before{
    content: '';
    display: block;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    animation: spinner 1s linear infinite both;    
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    border: 4px solid white;
    border-top-color: @brand;
}
body.loading:after{
    content: '';position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .8;
    z-index: 12;
}

/* Close-Button */
.dropdown .close-sidebar,
.alert .close,
#sidepanel_left .close-sidebar,
#close-lightbox,
#mobile-search-toggle .close,
.search-toggle .close{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    right: 1rem;
    z-index: 11;
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 0;
    text-indent: -999rem;
    transition: .3s ease;
}
.dropdown .close-sidebar,
#sidepanel_left .close-sidebar{
    position: fixed;
    opacity: 0;
    transform: translateY(-1000%);
    transition: opacity .3s ease; 
    transition-delay: .2s;   
}
.dropdown.open .close-sidebar,
body.show-sidebar #sidepanel_left .close-sidebar{
    opacity: 1;
    transform: none;
}
#sidepanel_left .close-sidebar{
    z-index: 120;
}
.close-sidebar:before, 
.close-sidebar:after,
.alert .close:before,
.alert .close:after,
#sidepanel_left .close-sidebar:before,
#sidepanel_left .close-sidebar:after,
#close-lightbox:before,
#close-lightbox:after,
#mobile-search-toggle .close:before,
#mobile-search-toggle .close:after,
.search-toggle .close:before,
.search-toggle .close:after{
    position: absolute;
    left: .75rem;
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: currentColor;
    top: 0;
    transition: .3s ease;
}
.close-sidebar:before,
.alert .close:before,
#sidepanel_left .close-sidebar:before,
#close-lightbox:before,
#mobile-search-toggle .close:before,
.search-toggle .close:before{
  transform: rotate(45deg);
}
.close-sidebar:after,
.alert .close:after,
#sidepanel_left .close-sidebar:after,
#close-lightbox:after,
#mobile-search-toggle .close:after,
.search-toggle .close:after{
  transform: rotate(-45deg);
}
body.sidecart-open .dropdown .close-sidebar:hover,
.alert .close:hover,
body.show-sidebar #sidepanel_left .close-sidebar:hover,
#close-lightbox:hover,
#mobile-search-toggle .close:hover{
    transform: rotate(90deg);
    transition: .3s ease;
}
body.sidecart-open .dropdown .close-sidebar:hover:before,
body.sidecart-open .dropdown .close-sidebar:hover:after,
.alert .close:hover:before,
.alert .close:hover:after,
body.show-sidebar #sidepanel_left .close-sidebar:hover:before,
body.show-sidebar #sidepanel_left .close-sidebar:hover:after,
#close-lightbox:hover:before,
#close-lightbox:hover:after,
#mobile-search-toggle .close:hover:before,
#mobile-search-toggle .close:hover:after{
    transform: rotate(0);
}

/* Freez Body on Sidepanel open */
body.show-sidebar,
body.sidecart-open,
body.lightbox-shown{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
body.show-sidebar #evo-nav-wrapper{
    z-index: -1;
}

/* Old Browser */
#outdatedbrowser{
    margin-top: 50px;
    text-transform: uppercase;
}
#outdatedbrowser ~ *{
    display: none;
}
#outdatedbrowser img{
    margin: auto;
    max-width: 200px;
    height: auto;
    margin-bottom: 50px;
}
/* Cookie Hinweis */
#cookie-hinweis{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 10rem;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 20rem;
    text-align: center;
    padding: 1.5rem;
    color: white;
    border-radius: .3rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    z-index: 100000;
    background: @blackbg;
}
#cookie-hinweis p:first-child{
    margin-top: 0;
}
#cookie-hinweis a{
    color: @brand;
}

/* Hotspot-Banner */
.banner{
	position: relative;
}
body:not([data-page="18"]) .banner img,
body[data-page="18"] .slider-wrapper + .banner img,
body[data-page="18"].boxed-slider:not(.full-width) .banner img{
	border-radius: .3rem;
}
.banner a[style]{
	position: absolute;
	border: .35rem solid rgba(255,255,255,.6);
	border-radius: .3rem;
	transition: .3s ease;
	opacity: 0;
}
.banner:hover a[style]{
	opacity: 1;
}
.banner a[style]:hover{
	background: rgba(255,255,255,.3);
}
.banner .area-desc{
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	min-width: 20rem;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 100;
}
.banner a[style]:hover .area-desc{
	display: flex;
}
.banner .top .area-desc{
	top: auto;
	bottom: 100%;
}
.banner .right .area-desc{
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.banner .left .area-desc{
	right: 100%;
	left: auto;
	top: 50%;
	transform: translateY(-50%);
}
.banner .area-desc > div:not(.header){
	width: 100%;
}
.banner .area-desc .inside{
	background: #fff;
	border-radius: .3rem;
	padding: 1rem;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
}
.banner h4{
	margin-bottom: .5rem;
}
.banner p{
	margin: .5rem 0;
}
.banner .header{
	height: 1.6rem;
	width: 2rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.banner .header span{
	width: 1rem;
	height: 1rem;
	background: #fff;
	transform: rotate(45deg);
	display: block;
	position: relative;
	top: .5rem;
}
.banner .top .header,
.banner .left .header{
	order: 1;
	align-items: flex-start;
}
.banner .top .header span{
	top: auto;
	bottom: .5rem;
}
.banner .right .area-desc,
.banner .left .area-desc{
	flex-wrap: nowrap;
	align-items: center;
}
.banner .right .header{
	align-items: center;
	justify-content: flex-end;
}
.banner .right .header span{
	top: auto;
	left: .5rem;
}
.banner .left .header span{
	top: auto;
	right: .5rem;
}
.banner .left .header{
	align-items: center;
	justify-content: flex-start;
}
.banner p:first-child{
	margin-top: 0;
}
.banner p:last-child{
	margin-bottom: 0;
}
.banner .image-content{
	margin: .75rem auto;
	max-width: 10rem;
}

/* Auswahlassistent */
#selection_wizard hr{
	display: none;
}
body[data-page="18"] #selection_wizard{
	margin: 0 0 5rem 0;
}
body:not([data-page="18"]) #selection_wizard{
	margin: 3rem 0;
}
#selection_wizard .list-group{
	list-style: none;
	padding: 0;
}
#selection_wizard .list-group-item{
	margin-top: .75rem;
	transition: .3s ease;
	height: auto;
	overflow: auto;
}
#selection_wizard .list-group-item:not(.disabled){
	opacity: 1;
}
#selection_wizard .list-group-item.closed{
	height: 0;
	overflow: hidden;
	opacity: 0;
}
#selection_wizard .answers{
	margin-top: .35rem;
}
#selection_wizard .answers > span{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
#selection_wizard .answers > span > a,
#selection_wizard .answers > span > span{
	padding: .3rem 1rem;
	border: 1px solid @defaultborder;
	border-radius: .3rem;
	display: inline-block;
	margin: .35rem .35rem .35rem 0;
	transition: .3s ease;
	display: flex;
	align-items: center;
}
#selection_wizard .answers > span > a img,
#selection_wizard .answers > span > span img{
	display: block;
	max-width: 100px;
}
#selection_wizard .answers > span > a img + span{
	margin-left: .5rem;
}
#selection_wizard .answers > span > a:hover{
	background: @lightbg;
}
#selection_wizard .disabled{
	pointer-events: all;
	cursor: auto;
	transition: .3s ease;
}
#selection_wizard .list-group-item ~ .disabled{
	pointer-events: none;
	cursor: not-allowed;
}
#selection_wizard .disabled:hover{
	opacity: 1;
}
#selection_wizard .edit{
	width: 1rem;
    height: 1rem;
    display: inline-block !important;
    background: url(./templates/snackys/img/icons/icon-edit.svg)no-repeat center center/contain;
    vertical-align: middle;
    position: relative;
    top: -.1rem;
    margin-left: .5rem;
	cursor: pointer;
}

/* Styled Controls */
.stc-radio input[type="radio"],
.stc-checkbox input[type="checkbox"]{
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}
.stc-radio .stc-radio-btn,
.stc-checkbox .stc-checkbox-btn{
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	background: white;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.stc-checkbox .stc-checkbox-btn{
	border-radius: 3px;
}
.stc-radio input:checked + .stc-radio-btn{
	border: 5px solid @brand;
}
.stc-checkbox input:checked + .stc-checkbox-btn{
	border-color: transparent;
	background: @brand url('templates/snackys/img/icons/icon-check-w.svg')no-repeat center center/8px;
}


/* Responsive */
@media screen and (min-width: 1600px){
    .col-xl-10{
        width: 83.33%
    } 
    .col-xl-push-2{
        left: 16.66%
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-pull-10{
        right: 83.33%;
    }
}
@media screen and (max-width: 1400px){
	.mw-container{
        padding-left: 50px;
        padding-right: 50px;
    	max-width: calc(@maxPageWidthpx + 100px);
	}
    h1, .h1{
        font-size: 2.9rem;
    }
}
@media screen and (max-width: 1199px){
    h1, .h1{
        font-size: 2.75rem;
    }
    h2, .h2 {
        font-size: 2rem;
    }
    h3, .h3, .megamenu .category-title, legend{
        font-size: 1.65rem;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.8rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
    .custom-content{
        column-count: 2;
    }
    #cookie-hinweis{
        right: 1rem;
        bottom: 1rem;
        padding: 1.25rem;
        width: 18rem;
        font-size: .9rem;
    }
}
@media screen and (max-width: 991px){
    .full-width-slider .slick-arrow{
        height: 4rem;
        width: 2.25rem;
    }
    .full-width-slider .css-arrow {
        padding: 5px;
        border-width: 0 2px 2px 0;
    }
    h1, .h1{
        font-size: 2.5rem;
    }
    h2, .h2 {
        font-size: 1.9rem;
    }
    h3, .h3, .megamenu .category-title, legend{
        font-size: 1.5rem;
    }
    p{
        margin: .6rem 0;
        font-size: .95rem;
    }
    .small, small, .price-note{
        font-size: .85rem;
    }
    code, kbd, pre, samp{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .megamenu .category-title{
        margin-bottom: .85rem;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.5rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: flex;
    }
	.mb-spacer{
		margin-bottom: 4rem;
	}
}
@media screen and (max-width: 767px){
	.mw-container{
        padding-left: 20px;
        padding-right: 20px;
    	max-width: calc(@maxPageWidthpx + 40px);
	}
    .full-width-slider .slick-arrow{
        width: 1.8rem;
        height: 3.5rem;
    }
    .full-width-slider .slide .htmlcaption{
        position: static;
    }
    .full-width-slider .slide .htmlcaption{
        padding: .75rem 1rem .75rem 1rem;
    }
    .full-width-slider .slide .htmlcaption p{
        font-size: .9rem;
        margin: 0;
    }
    .dots-wrapper ul li{
        margin: .25rem;
    }
    .dots-wrapper{
        margin-top: .75rem;
    }
    .panel-slider .panel-body{
        position: relative;
    }
    .panel-slider .product-slider{
        position: static;
    }
    .panel-slider .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 2;
    }
    .panel-slider .slick-next{
        right: 0;
        left: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .panel-slider .slick-prev{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 1.7rem;
    }
    h3, .h3, .megamenu .category-title, legend {
        font-size: 1.4rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.15rem;
    }
    h5, .h5 {
        font-size: 1.025rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .megamenu .category-title{
        line-height: 1;
    }
    #main-wrapper{
        overflow-x: hidden;
    }
    .panel-slider .panel-heading > .panel-title, #news-overview .panel-title{
        margin-bottom: 1.15rem;
    }
    #news-overview .hide-overflow > .panel-title{
        display: block;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], input.quantity, select, textarea{
        padding: 0.4rem 0.7rem;
    }
    .product-cell .price{
        font-size: 1.2rem;
    }
    #content .panel-slider .panel-body .arrow-container-box{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        z-index: 2;
    }
    #content .panel-slider .panel-body .arrow-container-box .slick-arrow{
        pointer-events: all;
    }
    #content .panel-slider .panel-body .arrow-container-box:after{
        content: '';
        display: block;
        padding-top: 33.33%;
        pointer-events: none;
    }
    .custom-content{
        margin: 3rem 0
    }
    .basket-item ul{
        margin: .5rem 0;
    }
	body[data-page="18"] .slider-wrapper{
		margin-bottom: 0;
	}
	.banner .area-desc{
		min-width: 15rem;
	}
	.banner a[style]{
		border-width: .2rem;
	}
    #content .panel-slider .panel-body .arrow-container-box:after{
        padding-top: 50%;
    }
	.expandable.floating-button .quantity-wrapper{
		right: .75rem;
		bottom: .75rem;
	}
	.expandable input.quantity{
		display: none;
	}
	.expandable:not(.floating-button) .input-group-btn .btn{
		border-radius: 3rem;
	}
	.mb-spacer{
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 575px){
    h1, .h1 {
        font-size: 1.8rem;
    }
    h2, .h2 {
        font-size: 1.5rem;
    }
    h3, .h3, .megamenu .category-title, legend {
        font-size: 1.3rem;
    }
    h4, .h4, .nav-tabs a, #checkout .panel-title, #checkout legend, #order-details h3 {
        font-size: 1.05rem;
    }
    h5, .h5 {
        font-size: 1rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
    body{
        font-size: .9rem;
    }
    .panel-slider .slick-prev{
        left: -5px;
    }
    .panel-slider .slick-next{
        right: -5px;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-left: 8px;
        padding-right: 8px;
    }
    .custom-content{
        column-count: 1;
    }
    .visible-xxs{
        display: block;
    }
    .custom-content{
        margin: 2rem 0
    }
    .hidden-xxs{
        display: none;
    }
    .basket-item > .row > div:not(.preload) > .row:last-child{
        margin-top: .5rem;
    }
    .basket-item > .row > div:not(.preload) > .row:last-child > div{
        width: 50%;
    }
    .basket-item .single-price{
        display: none;
    }
    .basket-item > .row > div:not(.preload) > .row:first-child > div{
    }
    #cookie-hinweis{
        width: auto;
        left: .5rem;
        right: .5rem;
        bottom: .5rem;
        padding: 1rem;
    }
	.expandable.floating-button .quantity-wrapper{
		right: .5rem;
		bottom: .5rem;
	}
	.mb-spacer{
		margin-bottom: 2rem;
	}
}


::-webkit-scrollbar {
  width: 10px; 
	height: 10px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}