#category-nav-wrapper{
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    background: @brand;
    @gradientbrand;
}
#category-nav-wrapper > .mw-container{
	margin-top: 0;
	margin-bottom: 0;
}
#category-nav-wrapper .blanklist{
	position: relative;
}
#category-nav-wrapper .blanklist{
	position: relative;
}
#category-nav-wrapper .mm-mainlink{
    font-size: 1.2rem;
    padding: .7rem 1.25rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
    transition: .3s ease;
    white-space: nowrap;
    color: @backgroundtext;
	cursor: pointer;
}
#category-nav-wrapper li.active .mm-mainlink{
    background: rgba(255,255,255,.2);
}
#category-nav-wrapper li:hover > .mm-mainlink{
	background: rgba(255,255,255,.4);
}
#category-nav-wrapper .info-col .image-content{
	margin-bottom: 1.25rem;
}
#category-nav-wrapper .defaultlink.title{
	margin: .5rem 0 0 0;
}
#category-nav-wrapper .subsub{
	margin-top: .25rem;
}

.megamenu .image-content:hover{
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.2)
}
.megamenu .caret{
    margin-left: .5rem;
}
.megamenu .dropdown-menu{
    right: -30px;
	left: -30px;
    border: 0;
	top: auto;
    border-radius: 0;
    overflow: auto;
    margin: 0;
    padding: 0 0 1rem 0;
    box-shadow: none;
    background: none;
    display: block;
    transform: translateY(-2000%);
    transition-delay: .1s;
	overscroll-behavior: contain;
}
.megamenu .megamenu-fw:hover .dropdown-menu,
.megamenu .dropdown-multi:hover .dropdown-menu{
    transform: translateY(0);
    transition-delay: .3s;
}
.megamenu .megamenu-content{ 
	margin: 0 30px;
    background: white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    transform: translateY(-100%);
    opacity: 0;
    transition: .1s ease;
	max-height: 60vh;
	overflow: auto;
	border-bottom-left-radius: .3rem;
	border-bottom-right-radius: .3rem;
	padding: 3rem;
}
.megamenu .megamenu-fw:hover .megamenu-content,
.megamenu .dropdown-multi:hover .megamenu-content{
    transform: translateY(0);
    opacity: 1;
    transition: .3s ease;
	transition-delay: .3s;
}
.megamenu .home-icon svg{
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
	top: .1rem;
	fill: white;
	transition: .3s ease;
}
.megamenu:not(.has-images) .row-multi{
	margin-top: 0;
	margin-bottom: 0;
}
.megamenu:not(.has-images) .row-multi > [class*="col-"]{
	padding-top: 7px;
	padding-bottom: 7px;
}
#category-nav-wrapper .megamenu:not(.has-images) .defaultlink.title{
	margin: 0;
}
#category-nav-wrapper .active > .defaultlink{
	color: @brand;
}
.mega-categories{
	align-items: flex-start;
}
#category-nav-wrapper .home-icon + .visible-xs,
#category-nav-wrapper .menu-title{
	display: none;
}
@media screen and (min-width: 768px){
	/*Megamenü Dropdown Style*/
	[id*="mm-dropdown"] .dropdown-link{
		padding: 0.4rem 1.5rem;
		background: none;
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
	}
	[id*="mm-dropdown"] .dropdown-menu{
		left: 0;
	}
	[id*="mm-dropdown"] .active > .dropdown-link,
	[id*="mm-dropdown"] li:hover > .dropdown-link{
		color: @brand;
		background: @lightbg;
	}
	[id*="mm-dropdown"] li{
		position: relative;
	}
	[id*="mm-dropdown"] .dropdown-menu{
		background: white;
		padding: 1rem 0;
		min-width: 12rem;
		max-width: 20rem;
		overflow: visible;
		box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
		max-height: none;
		border-bottom-left-radius: .3rem;
		border-bottom-right-radius: .3rem;
		right: auto;
	}
	[id*="mm-dropdown"] .dropdown-menu > li > .dropdown-menu{
		border-radius: .3rem;
	}
	[id*="mm-dropdown"] .dropdown-menu .dropdown-menu{
		display: none;
		left: 100%;
		top: -1rem;
	}
	[id*="mm-dropdown"] li:hover > .dropdown-menu{
		display: block;
	}
	.dropdown-style[id*="mm-dropdown"]{
		position: relative;
	}
	.dropdown-style .megamenu-fw .css-arrow{
		border-width: 0 1px 1px 0;
	}
	#category-nav-wrapper #mm-dropdown  .items-twocol,
	#category-nav-wrapper #mm-dropdown  .items-threecol{
		width: 25rem;
		display: flex;
		flex-wrap: wrap;
	}
	#category-nav-wrapper .items-threecol{
		width: 30rem;
		max-width: none;
	}
	#category-nav-wrapper .items-twocol > li{
		width: 50%;
	}
	#category-nav-wrapper .items-threecol > li{
		width: 33.33%;
	}
}

@media screen and (min-width: 1600px){
	#category-nav-wrapper .info-col{
		width: 16.66%;
	}
	#category-nav-wrapper .row-multi.hasInfoColumn{
		width: 83.33%;
	}
	#category-nav-wrapper .row-multi.hasInfoColumn > .col-lg-3{
		width: 20%;
	}
	#category-nav-wrapper .row-multi > .col-lg-3{
		width: 16.66%;
	}
}
@media screen and (max-width: 1400px) and (min-width: 768px){
	#category-nav-wrapper .mm-mainlink{
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
	}
	.megamenu .home-icon svg{
		width: 1rem;
		height: 1rem;
	}
}
@media (max-width: 1199px) and (min-width: 768px){
	.megamenu .megamenu-content{
		padding: 2rem;
	}
	#category-nav-wrapper .mm-mainlink{
		font-size: 1rem;
		padding: 0.6rem .8rem;
	}
	.megamenu .home-icon svg{
		width: .8rem;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	#category-nav-wrapper .row-multi{
		width: auto;
	}
	#category-nav-wrapper .mm-mainlink{
		padding: 0.6rem .6rem;
	}
}
@media screen and (max-width: 767px){
	.fullscreen-title{
		display: none;
	}
	#category-nav-wrapper{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20rem;
		background: white;
		transform: translateX(-120%);
		transition: transform .3s ease;
		display: block;
	}
	.show-sidebar-nav #category-nav-wrapper{
		transform: none;
	}
	#category-nav-wrapper .mm-mainlink,
	#category-nav-wrapper a{
		color: @defaulttext;
		font-size: 1rem;
		position: relative;
		padding: .7rem 2.5rem .7rem 1.25rem;
		white-space: normal;
		font-weight: 600;
		line-height: 1.1;
		display: block;
	}
	#category-nav-wrapper .active > .mm-mainlink, 
	#category-nav-wrapper .active > a{
		color: @brand
	}
	#category-nav-wrapper .mm-mainlink .fa-caret-down.visible-xs,
	#category-nav-wrapper .fa-caret-down.visible-xs{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 2rem;
		display: block;
		display: flex;
		align-items: center;
		background: none;
	}
	#category-nav-wrapper .fa-caret-down.visible-xs .css-arrow-left,
	#category-nav-wrapper .fa-caret-down.visible-xs .title{
		display: none;
	}
	#category-nav-wrapper > .mw-container,
	#category-nav-wrapper > .mw-container > .blanklist,
	#category-nav-wrapper .subsub{
		padding: 0;
		height: 100%;
		align-content: flex-start;
	}
	#category-nav-wrapper > .mw-container{
		padding-top: 5rem;
	}
	#category-nav-wrapper li{
		width: 100%;
	}
	#category-nav-wrapper .row{
		margin: 0;
		height: 100%;
		align-content: flex-start;
	}
	#category-nav-wrapper .row > div{
		padding: 0;
	}
	.megamenu .dropdown-menu,
	#category-nav-wrapper .subsub{
		top: 0;
		bottom: 0;
		padding: 0;
		left: 0;
		right: 0;
		max-height: none;
		position: absolute;
		margin: 0;
		background: white;
		z-index: 2;
	}
	.megamenu .megamenu-content{
		height: 100%;
		max-height: none;
		padding: 0;
		margin: 0;
	}
	#category-nav-wrapper li,
	#category-nav-wrapper .row > div{
		border-bottom: 1px solid @lightborder;
		position: static;
		box-shadow: none;
	}
	#category-nav-wrapper .hidden-xs{
		display: none;
	}
	#category-nav-wrapper .defaultlink.title{
		margin: 0;
	}
	#category-nav-wrapper .home-icon + .visible-xs{
		display: block;
	}
	#category-nav-wrapper .megamenu-content{
		transform: none;
		opacity: 1;
	}
	#category-nav-wrapper .dropdown-menu,
	#category-nav-wrapper .subsub{
		transform: translateX(-100%);
		transition: .3s ease;
	}
	#category-nav-wrapper .menu-title{
		position: absolute;
		top: 0;
		left: 0;
		height: 5rem;
		right: 0;
		padding: 0 1.25rem;
		display: flex;
	}
	#category-nav-wrapper .open > .dropdown-menu,
	#category-nav-wrapper .open > .subsub{
		transform: none;
	}
	#category-nav-wrapper .open > .mm-mainlink,
	#category-nav-wrapper .open > .defaultlink.title{
		position: static;
	}
	#category-nav-wrapper .megamenu .open > a .fa-caret-down,
	#category-nav-wrapper .megamenu .open > span .fa-caret-down{
		position: fixed;
		top: 0;
		height: 5rem;
		bottom: auto;
		left: 0;
		right: auto;
		background: white;
		padding-left: 1.25rem;
		width: 16rem;
		z-index: 1;
		background: white;
	}
	#category-nav-wrapper .megamenu .open > a .fa-caret-down.visible-xs .css-arrow-left,
	#category-nav-wrapper .megamenu .open > a .fa-caret-down.visible-xs .title,
	#category-nav-wrapper .megamenu .open > span .fa-caret-down.visible-xs .css-arrow-left,
	#category-nav-wrapper .megamenu .open > span .fa-caret-down.visible-xs .title{
		display: inline-block;
		margin-right: .5rem;
	}
	#category-nav-wrapper .megamenu .open > a .fa-caret-down.visible-xs .css-arrow-right,
	#category-nav-wrapper .megamenu .open > span .fa-caret-down.visible-xs .css-arrow-right{
		display: none;
	}
	#category-nav-wrapper .css-arrow{
		display: inline-block;
	}
	.megamenu .dropdown-menu{
		overflow: visible;
	}
}