/* Sidepanel */
#sp-l{
    max-width: 18rem;
    padding-right: 2.5rem;
}
#sp-l .dark-bg{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
    z-index: 10;
}
#sp-l a:not(.btn):hover{
    color: @brand;
}
#sp-l.scrollBoxes .box-body{
	max-height: 70vh;
	overflow: auto;
	overflow-x: hidden;
}
#sp-l ul li{
    margin: .3rem 0;
    position: relative;
}
#sp-l .panel-heading{
    border-bottom: 1px solid @lightborder;
    margin-bottom: .75rem;
	padding: .7rem 0;
}
#sp-l section:not(:last-child),
#sp-l > .inside > .panel-strap:not(:last-child){
    margin-bottom: 2.5rem;
}
#sp-l .nav a{
    display: flex;
    width: 100%;
}
#sp-l .nav a .value{
    display: flex;
    width: calc(100% - 3.875rem);
	align-items: flex-start;
}
#sp-l .nav a .value .badge{
    margin-left: auto;
}
#sp-l .nav-panel .nav  li.active > a{
    font-weight: 600;
    color: @brand;
}
#sp-l .nav-list a:before,
#sp-l .nav-list a:after{
    content: '';
    width: 1.125rem;
    min-width: 1.125rem;
    height: 1.125rem;
    display: block;
    border: 1px solid @defaultborder;
    border-radius: .125rem;
    margin-right: .75rem;
    transform: translateY(2px);
    transition: .3s ease;
}
#sp-l .nav-list a.active:before,
#sp-l .box-f-cr li.active > a:before{
    border: 0;
    background: @brand;
}
#sp-l .nav-list a:after{
    width: 5px;
    height: 10px;
    border: solid @backgroundtext;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 6px;
    position: absolute;
    min-width: 0;
    border-radius: 0;
    top: 3px;
}
#sp-l .nav .nav{
    margin-left: 1.875rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
	padding: 0;
	list-style: none;
}
#sp-l li:not(.open) ul{
    display: none;
}
#sp-l .nav-list .badge{
    order: 1;
    margin-left: auto;
}
#sp-l .badge{
    font-weight: 600;
    color: @brand;
}
#sp-l .fa-caret-down{
    margin-left: auto;
}
#sp-l .box-filter-reviews em{
    font-size: .8rem;
    font-style: normal;
    opacity: .7;
    display: none;
}
#sp-l .price{
    font-size: 1.1rem;
}
#sp-l .item-related:first-child{
    border-top: 0;
}
#sp-l .item-related{
    padding: .5rem 0;
}
#sp-l .item-related .p-w{
    padding: 0;
}
#sp-l .item-related .p-c{
    display: flex;
    align-items: center;
}
#sp-l .item-related .p-c .img-w{
    min-width: 2.25rem;
    box-sizing: content-box;
    padding-right: 0;
    margin: 0;
}
#sp-l .box-login .btn{
    border-radius: .3rem;
}
#sp-l .box-login .btn:not(:last-child){
    margin-bottom: .25rem;
}
.box-direct-purchase .form-group{
    margin: 0;
}
#sp-l .panel-slider .right{
    display: none;
}
.box-tagcloud .btn{
    font-size: .8rem;
    border-radius: .3rem;
    margin: .2rem .2rem .2rem 0;
}
.box-login .pull-left{
    float: none;
}
section[class*="box-filter"] img{
    margin-right: .5rem;
}
section[class*="box-filter"] .img-ct > img{
	margin: 0;
}
.box-f-cr .box-body.dropdown > a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .75rem;
}
.box-f-cr .box-body.dropdown:not(.open) .nav-list{
	display: none;
}

#sp-l .box-f-cr .img-ct.icon{
	width: 1.5rem;
	min-width: 1.5rem;
	margin-right: .5rem;
}

.panel-default .fa-caret-down{
	transition: .3s ease;
}
.panel-default .open > a > .fa-caret-down{
	transform: rotate(180deg);
}
#sp-l>.inside > *{
	width: 100%;
}
#sp-l .word-break{
	word-break: break-all;
	word-break: break-word;
}
@supports (hyphens: auto){
	#sp-l .word-break{
		hyphens: auto;
	}
}
@supports (-webkit-hyphens: auto){
	#sp-l .word-break{
		-webkit-hyphens: auto;
	}
}
/* Herstller Load more */
input[id*="more-manufacturers"]{
	display: none;
}
label[for*="more-manufacturers"]{
	width: 100%;
	text-align: center;
	margin: 1rem 0;
	cursor: pointer;
}
input[id*="more-manufacturers"]:not(:checked) ~ li{
	display: none;
}
input[id*="more-manufacturers"]:checked + label{
	display: none;
}
#sp-l .close-sidebar{
    position: fixed;
    opacity: 0;
    transform: translateY(-1000%);
    transition: opacity .3s ease; 
    transition-delay: .2s; 
    top: 1rem;
    right: 1rem;
    z-index: 11;  
}
body.show-sidebar #sp-l .close-sidebar{
    opacity: 1;
    transform: none;
}
#sp-l .close-sidebar{
    z-index: 120;
}
#sp-l .panel-title .h5{
	margin: 0;
}
/* Open Close Filter (sidepanel) */
#sp-l.collapse section:not(.open) .box-body,
#sp-l.collapse section:not(.open) .panel-body{
	opacity: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	margin: 0;
}
#sp-l.collapse section{
	margin-bottom: 0;
}
#sp-l.collapse section .box-body,
#sp-l.collapse section .panel-body{
	margin-bottom: 1rem;
}
#sp-l.collapse section .panel-title,
#sp-l.collapse section .panel-title .h5{
	font-size: .9rem;
	color: @defaulttext;
	margin: 0;
}
#sp-l.collapse section.open .panel-title,
#sp-l.collapse section.open .panel-title .h5{
	color: @darktext;
}
#sp-l.collapse .panel-heading{
	margin: 0;
	border: 0;
	cursor: pointer;
}
#sp-l.collapse section{
	border-bottom: 1px solid @lightborder;
}
#sp-l.collapse > .inside > .panel-strap{
	margin: .75rem 0;
}
#sp-l.collapse section .panel-title{
	justify-content: space-between;
}
#sp-l.collapse .panel-default .panel-heading .icon-caret{
	width: .8rem;
	min-width: .8rem;
	margin: 0 .25rem 0 1rem;
	opacity: .6;
}
#sp-l.collapse section.open .icon-caret{
	transform: scaleY(-1);
}
#sp-l.collapse .panel.box .icon-caret{
	display: flex;
}
@media screen and (max-width: 991px){
    body:not(.show-sidebar) #sp-l .inside {
        transform: translateX(110%);
        transition: .4s ease;
    }
    body.show-sidebar #content-wrapper{
        z-index: 11;
    }
    #sp-l .inside{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background: white;
        padding: 2rem;
        font-size: .9rem;
        overflow: auto;
        z-index: 111;
        max-width: 18rem;
        transform: translateX(0);
        transition: .4s ease;
		min-width: 280px;
    }
    #sp-l section:not(:last-child), 
    #sp-l>.inside>.panel-strap:not(:last-child){
        margin-bottom: 1.25rem;
    }
	#sp-l.collapse section:not(:last-child){
		margin: 0;
	}
    .op0{
        opacity: 0;
    }
}