.c-dp{
    position: absolute;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 11;
    display: block;
}
.c-dp > .inside{
    position: fixed;
    top: 0;
    bottom: 0;
    background: white;
    padding: 2rem;
    transition: .4s ease;
    transform: translateX(110%);
    margin: 0;
    max-width: 25rem;
    width: 100%;
    right: 0;
    max-height: 100%;
    z-index: 11;
}
.dropdown.open .c-dp > .inside,
.cart-menu.open .c-dp > .inside{
    transform: translateX(0);
}
.c-dp .items-list{
    height: calc(100% - 8.3rem);
    position: relative;
    overflow: auto;
}
.dropdown.open .c-dp .overlay-bg{
    opacity: 1;
}
.c-dp li{
    margin: 0;
}
.c-dp .item-price{
    text-align: right;
}
.c-dp td{
    padding: .3rem .5rem;
}
.c-dp .fixed-btn-group{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5rem 2rem;
    height: 8.3rem;
    background: @lightbg;
}
.c-dp .fixed-btn-group.one-button{
	height: 5.7rem;
}
.c-dp.no-items .fixed-btn-group {display: none;}
.c-dp .fixed-btn-group .btn{
    border-radius: .3rem;
}
.c-dp .fixed-btn-group a:first-child{
    margin-bottom: .5rem;
}
.c-dp .close-sidebar{
	position: fixed;
    top: 0.8rem;
    right: .8rem;
    z-index: 11;
    font-size: 1rem;
}
.cart-menu:not(.open) .close-sidebar{
	display: none;
}
@media screen and (max-width:767px){
    .c-dp>.inside{
        max-width: 320px;
        padding: 1.25rem 15px;
    }
    .c-dp{
        z-index: 110;
    }
    .c-dp .fixed-btn-group {
        padding: 1.25rem 15px;
        height: 7.8rem;
    }
    .c-dp .items-list{
		height: calc(100% - 7.5rem);
    }
}