
#newslist{
    margin: -15px;
}
#newslist > div{
    padding: 15px;
}
#newslist .img-w{
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: .5rem;
    transition: .3s ease;
}
#newslist .img-w:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}
#newslist .img-w img{
    display: block;
}
#newslist .more-l-c{
    margin-top: .75rem;
    display: block;
}
#newslist a.news-more{
    text-decoration: none;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: .2rem;
}

#newslist a.news-more:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
}
#newslist .panel-title .text-muted em{
    font-style: normal;
}
#newslist .panel-title{
    margin-bottom: .75rem;
}
#newslist div[itemprop="description"] a:after{
    background: @brand;
    @gradientbrand;
}
#news-overview > .panel-heading h2{
    margin: 0;
}
#start-boxes img{
    max-width: 100%;
    height: auto !important;
    border-radius: .3rem;
}
#newslist .v-box.pr{
	white-space: nowrap;
	display: flex;
}
#newslist a.v-box{
	display: flex;
	align-items: center;
}
#news-overview .panel-title{
	align-items: flex-start;
	justify-content: space-between;
}
#news-overview .separator{
	display: inline-block;
	margin: 0 .2rem;
}
#news-overview h4,
#news-overview .v-box{
	line-height: 1.5rem;
}
@media screen and (max-width: 767px){
	#extension-container{
		margin-top: -1.5rem;
	}
}